In [218]:
import pandas as pd
import os

# Define the directory and file names
directory = os.getcwd() + "/data/"

# Read the parquet files
interventions_bxl = pd.read_parquet(directory + "interventions_bxl.parquet.gzip")
interventions_bxl2 = pd.read_parquet(directory + "interventions_bxl2.parquet.gzip")
interventions1 = pd.read_parquet(directory + "interventions1.parquet.gzip")
interventions2 = pd.read_parquet(directory + "interventions2.parquet.gzip")
interventions3 = pd.read_parquet(directory + "interventions3.parquet.gzip")
cad9 = pd.read_parquet(directory + "cad9.parquet.gzip")
aed_locations = pd.read_parquet(directory + "aed_locations.parquet.gzip")
ambulance_locations = pd.read_parquet(directory + "ambulance_locations.parquet.gzip")
mug_locations = pd.read_parquet(directory + "mug_locations.parquet.gzip")
pit_locations = pd.read_parquet(directory + "pit_locations.parquet.gzip")

In [219]:
print(len(aed_locations))

15227

In [220]:
# we want to store all AED's considered poorly performing and the reason for why they are considered so. During the data cleaning, 
# some AED's will already get filtered, and are considered poorly performing.

# creating a dataframe to store these AED's. Only the ID and the reason for removal are stored.
removed_AED = pd.DataFrame(columns = ['id','reason'])

# function to filter and store the AED's
def filter_and_log_removed(df, filter_condition, reason):
    # apply the filter condition
    removed = df[filter_condition]
    
    # append removed devices to the removed_AED DataFrame
    global removed_AED
    removed_AED = pd.concat([removed_AED, pd.DataFrame({'id': removed['id'], 'reason': reason})])
    
    # Remove the filtered devices from the original DataFrame
    df = df.drop(removed.index)
    
    return df

In [221]:
# count the number of missing addresses in aed_locations
aed_missing_location_count = aed_locations['address'].isna().sum()
print(aed_missing_location_count)

# filter out instances where address is missing. Those instances are invalid, since we cannot know where the AED was placed
# first we inspect these instances, perhaps address was present under the wrong variable
aed_locations_with_na = aed_locations[aed_locations['address'].isna()]
print(aed_locations_with_na)

# apply our function in order to filter out and store the filtered instances
aed_locations_cleaned = filter_and_log_removed(aed_locations, aed_locations['address'].isna(), 'address_missing')

2
          id  type address  number  postal_code  municipality    province  \
6092  7323.0  None    None     NaN       3910.0      Neerpelt     Limburg
6212  7467.0  None    None     0.0       6870.0  Saint-Hubert  Luxembourg

     location public available hours
6092     None   None      None  None
6212     None   None      None  None

C:\Users\eloua\AppData\Local\Temp\ipykernel_10448\612258699.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  removed_AED = pd.concat([removed_AED, pd.DataFrame({'id': removed['id'], 'reason': reason})])

In [222]:
len(aed_locations_cleaned) #check

15225

In [223]:
aed_missing_number_count = aed_locations['number'].isna().sum()
print(aed_missing_number_count)

# proportion missing:
print(aed_missing_number_count/aed_locations_cleaned.shape[0])

# around 14% of the cleaned instances has a missing streetnumber. This is a significant amount, which means that simply removing them would have too
#much of an impact on the results. Therefore an alternative solution needs to be found.(midden van de straat, maar dat is wel vrij intensief? hoe weet
#je wat het straatnummer is in het midden van de straat?)
#in a real world scenario, one might ask the stakeholder what happened with this data, perhaps the data is available somewhere else.

2142
0.1406896551724138

In [224]:
aed_type_counts = aed_locations['type'].value_counts()
print(aed_type_counts)

aed_missing_type_count = aed_locations['type'].isna().sum()
print(aed_missing_type_count)
print(len(aed_locations))
# the majority of the known AED types in the cleaned table is fixed apparatus (5166, or 33.93%) , with mobile apparatus only a very small part 
#(17, or 0.11%) of the group, and only #one of M5066A type. The majority is of unknown type (2142, or 66.07%).
#in a real world scenario it would again be possible to ask the stakeholder about these missing values.
#we assume that all types of devices are useable.

type
Appareil fixe-Vast apparaat         5048
Appareil fixe                         66
Appareil Fixe                         19
Appareil Mobile- Mobiel apparaat      17
Vast apparaat                         16
M5066A                                 1
Name: count, dtype: int64
10060
15227

In [225]:
#we can remove the type column, we don't need it for further analysis
aed_locations_cleaned = aed_locations_cleaned.drop(columns = ['type'])

In [226]:
aed_locations.head(10)

,id,type,address,number,postal_code,municipality,province,location,public,available,hours
0,13.0,None,Blvd. Fr. Roosevelt,24.0,7060.0,SOIGNIES,Hainaut,None,Y,None,None
1,70.0,None,Ch. De Wégimont,76.0,4630.0,Ayeneux,Liège,None,None,None,None
2,71.0,None,Place Saint - Lambert,NaN,4020.0,Liège,Liège,None,None,None,None
3,72.0,None,Rue du Doyard,NaN,4990.0,Lierneux,Liège,None,None,None,None
4,73.0,None,Fond Saint Servais,NaN,4000.0,Liège,Liège,None,None,None,None
5,74.0,None,Rue des Prémontrès,12.0,4020.0,Liège,Liège,None,None,None,None
6,75.0,None,Route de Bastogne,1.0,4920.0,Harzé,Liège,None,None,None,None
7,76.0,None,Rue du Parc,1.0,4540.0,Jehay,Liège,None,None,None,None
8,77.0,None,Blvd. De la Constitution,19.0,4020.0,Liège,Liège,None,None,None,None
9,78.0,None,Place de la République française,NaN,4000.0,Liège,Liège,None,None,None,None

In [227]:
aed_location_counts = aed_locations['location'].value_counts()
print(aed_location_counts)
#the location variable contains a description of where the AED is located exactly. This is not useable for the analysis, so the variable is simply
#removed later on
#aed_locations_cleaned.drop(columns = ['location'])

location
/                                              314
.                                              289
Accueil                                        196
                                                89
INKOM                                           81
                                              ...
Gelijkvloers buiten tegen loods                  1
Hoofdgebouw, 1ste verdieping, thv cafetaria      1
reddersgebouw aan zwemvijver                     1
Locatie : ingang poort hoofdgebouw               1
 inkomhal, glvl                                  1
Name: count, Length: 5732, dtype: int64

In [228]:
aed_public_counts = aed_locations['public'].value_counts()
print(aed_public_counts)
print(aed_locations['public'].isna().sum())
#1220 devices are not publicly available. It would be useful to have more information on these, to decide whether or not they could still be used in
#case of a cardiac arrest.
aed_nonpublic_aed = aed_locations[(aed_locations['public'] == 'Non-Nee') | (aed_locations['public'] == 'N')]
aed_nonpublic_aed_with_available = aed_nonpublic_aed.dropna(subset=['available'])#only check for the ones that have a value for available, then we can
#decide for those if they are useable
print(aed_nonpublic_aed_with_available['available'].value_counts())
#there seem to be contradictions with the data, where it says for the public variable that it is not available, but for the available variable that it is
#available. Only a very small amount actually gives more details.
#remove degene die op beide nee zeggen? en ook diegene die enkel op bepaalde uren beschikbaar zijn? in principe zou je ze nog altijd kunnen gebruiken,
#je zou ze kunnen markeren, maar dat is zoveel moeite, zoveel aanpassingen aan het project, voor slechts 15 aeds ofzo. kijk ook eens naar de counts voor
#de andere, die wel 'ja' publically available zijn.
#we are optimistic, and asume that if there is one yes in either the public variable or the available variable, we assume that it is a useable AED.
#there are 14 other AED's which give the hours at which they are available. These are available most of the time, so they are considered to be 
#available.

public
Oui-Ja     3937
Y          2775
Non-Nee    1109
y           129
N           111
Oui          11
Ja            6
J             1
Name: count, dtype: int64
7148
available
Non-Nee                                                          748
Oui-Ja                                                           230
Pendant heures d ouverture du site                                 1
Nee                                                                1
8:00 - 17:00                                                       1
Heure de bureau en semaine                                         1
Heures de bureau                                                   1
Heures de bureau                                                   1
selon heures d ouverture d Euro-Délices                            1
enkel tijdens de kantooruren (8 - 19u)                             1
tijdens werkuren                                                   1
Accessible par toute personne présente dans l inrfastructure.      1
Tijdens kantooruren                                                1
De 5h30 à 21h30                                                    1
Dispo. tout le temps sauf du samedi midi au dimanche 21h           1
Dispo 24/7 - sauf samedi de 12h à dimanche 20h                     1
enkel tijdens kantooruren                                          1
Name: count, dtype: int64

In [229]:
#removing the AED's for which both the available and the public variables contain a negative
# the conditions
filter_condition = ((aed_locations['public'] == 'Non-Nee') | (aed_locations['public'] == 'N')) & ((aed_locations['available'] == 'Non-Nee') |
                                                                                                 (aed_locations['available'] == 'Nee'))
#there was a single entry for which the value of the variable available was simply "nee" instead of "Non-Nee"
aed_locations_cleaned = filter_and_log_removed(aed_locations_cleaned, filter_condition, 'not_available')

#we can now remove the available and the public variables, since we do not need them in the further analysis
aed_locations_cleaned = aed_locations_cleaned.drop(columns = ['available', 'public', 'location'])

C:\Users\eloua\AppData\Local\Temp\ipykernel_10448\612258699.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  removed = df[filter_condition]

In [230]:
#checking the value of hours for the remaining entries
aed_hours_counts = aed_locations['hours'].value_counts()
print(aed_hours_counts)
print(aed_locations['hours'].isna().sum())
print(aed_locations_cleaned['hours'].isna().sum())
print(1 - aed_locations_cleaned['hours'].isna().sum()/len(aed_locations_cleaned))
#most values for the hours seem to overlap with office hours. only 5.42% of the instances has a value for hours. We consider the AED's available at
#office hours to be available when they are needed.

hours
8h-17h                                                                                                                            42
8h-16h                                                                                                                            20
24/24                                                                                                                             19
HEURE DE BUREAU                                                                                                                   13
Tijdens openingsuren recyclagepark                                                                                                10
                                                                                                                                  ..
ma-vrij 8u-17u                                                                                                                     1
En fonction des locations                                                                                                          1
Tussen 8u en 16u30                                                                                                                 1
maandag tot en met vrijdag van 8 tot 23 uur; weekend en feestdagen van 9 tot 23 uur, niet beschikbaar tijdens de kerstvakantie     1
08h30 à 16h30                                                                                                                      1
Name: count, Length: 778, dtype: int64
14150
13691
0.05422768720641058

In [231]:
#we can remove the hours variable now
aed_locations_cleaned.drop(columns = ['hours'])

,id,address,number,postal_code,municipality,province
0,13.0,Blvd. Fr. Roosevelt,24.0,7060.0,SOIGNIES,Hainaut
1,70.0,Ch. De Wégimont,76.0,4630.0,Ayeneux,Liège
2,71.0,Place Saint - Lambert,NaN,4020.0,Liège,Liège
3,72.0,Rue du Doyard,NaN,4990.0,Lierneux,Liège
4,73.0,Fond Saint Servais,NaN,4000.0,Liège,Liège
...,...,...,...,...,...,...
15220,16660.0,Chaussée de Marche,799.0,5100.0,Wierde,Namur
15221,16661.0,Nekkerspoel-Borcht,19.0,2800.0,Mechelen,Antwerpen
15223,16664.0,Nieuwe Dreef,17.0,9160.0,Lokeren,Oost-Vlaanderen
15224,16665.0,Panterschipstraat,207.0,9000.0,Gent,Oost-Vlaanderen
15225,16666.0,Albert Leemansplein,20.0,1050.0,Bruxelles,Bruxelles-Brussel

In [232]:
#751 AED's were removed from the analysis. 2 because their address was missing, 749 because they were not available. The ones 
#where address is missing do not necessarily need to be reallocated, the ones that are not available could be allocated. Perhaps the AED's not available
#to the public are placed in large facilities, e.g. sports facilities, where they actually do serve a purpose. This would need to be verified for each 
#of these AEDs individually.
removed_AED

            id           reason
6092    7323.0  address_missing
6212    7467.0  address_missing
750     1412.0    not_available
1123    1881.0    not_available
3050    4024.0    not_available
...        ...              ...
15211  16650.0    not_available
15212  13572.0    not_available
15213  16651.0    not_available
15222  16662.0    not_available
15226  16668.0    not_available

[751 rows x 2 columns]

In [233]:
#for the other tables, we simply need to remove unnecessary variables, and merge the different tables.
#all the tables containing info can be merged into one big table, all the tables containing information from the first responders can be merged.

#de interventies tabellen bevatten ook info over de permanence. Die kan ook meegenomen worden, hoewel in principe die info al aanwezig is in de 
#locations tabellen.

In [234]:
#first we verify whether the unit is permanently staffed. If it is not, we do not consider it useable because it is considered
#unreliable, therefore an AED close to it's location can still be useful.
ambulance_value_counts = ambulance_locations['occasional_permanence'].value_counts()
print(ambulance_value_counts)
ambulance_locations_filtered = ambulance_locations[ambulance_locations['occasional_permanence'] == "N"]
occasional_permanence_ambulance = ambulance_locations[ambulance_locations['occasional_permanence'] == "Y"]

occasional_permanence
N    251
Y     28
Name: count, dtype: int64

In [235]:
#get the latitude and longitude of the PIT locations, since these are missing from the table.

#might not be 100% accurate

#some of the hospitals did not get recognized, so the address was manually looked up and inputted in the list. That way, the
#exact longitude and latitude could still be calculated.

from geopy.geocoders import Nominatim

# initialize geolocator
geolocator = Nominatim(user_agent="pit_locator")

# data in lists
# need to input the names manually in the list, since the useful part (for example "AZ RIVIERENLAND") is not consistently present in any variable.
#simply inputting the entire string value of the campus variable doesn't work, for example "104 - AZ RIVIERENLAND --- Campus/Site: 1270 - RUMST" yields
#no results.
data = {
    'name': ['AZ RIVIERENLAND ', 'AZ SINT-VINCENTIUS DEINZE', 'ZNA STUIVENBERG', ' HEILIG HART ZIEKENHUIS 1260',
             'HEILIG HART ZIEKENHUIS MOL', 'VITAZ CAMPUS LOKEREN', 'OLV ZIEKENHUIS ASSE', 'AZ SINT-JAN BRUGGE - OOSTENDE',
             'AZ SINT-LUCAS', 'AZ ZENO BLANKENBERGE', 'OOST-LIMBURG SINT-JAN GENK', 'UZ LEUVEN GASTHUISBERG',
             'HOPITAL IRIS SUD', 'CHU SAINT-PIERRE - PORTE DE HAL', 'UZ BRUSSEL', 'GRAND HOPITAL DE CHARLEROI SAINT- JOSEPH',
             'C.H.U. AMBROISE PARE', 'CHR SAMBRE ET MEUSE (SITE MEUSE)', 'CLINIQUE ANDRE RENARD', 'HOPITAL DE LA CITADELLE',
             'CHR VERVIERS - LA TOURELLE', None, None, None],
    'address': [None, None, None, None, None, None, None, None, None, None,
                None, 'Rue Jean Paquot 63', 'Boulevard de Waterloo 129' , '290, rue Haute', 'Rue Marguerite Depasse 6', 'Boulevard Président Kennedy 2',
                'Avenue Albert 1er 185', 'rue André Renard 1', None, None,
                None, 'Rue des Déportés 137', "Rue d'Harnoncourt 48", 'Avenue de Houffalize 35']
}
# create a DataFrame
hospitals_df = pd.DataFrame(data)

# DataFrame to store pit hospital coordinates
hospitals_with_coords = pd.DataFrame(columns=['id', 'name', 'municipality', 'address', 'latitude', 'longitude'])


# function to geocode hospitals, can use the names of the hospitals or the addresses if the name is not enough 
def geocode_hospitals(df):
    for index, row in df.iterrows():
        hospital_name = row['name']
        address = row['address']
        
        # determine the query based on available information
        if address:
            query = address
        else:
            query = f"{hospital_name}, Belgium"
        
        try:
            location = geolocator.geocode(query, timeout=10)
            if location:
                df.loc[index, 'address'] = location.address
                df.loc[index, 'latitude'] = location.latitude
                df.loc[index, 'longitude'] = location.longitude
            else:
                df.loc[index, 'address'] = None
                df.loc[index, 'latitude'] = None
                df.loc[index, 'longitude'] = None
        except (GeocoderTimedOut, GeocoderServiceError) as e:
            print(f"Error geocoding {query}: {e}")
            df.loc[index, 'address'] = None
            df.loc[index, 'latitude'] = None
            df.loc[index, 'longitude'] = None
    
    return df

# geocode the hospitals
pit_hospitals_with_coords = geocode_hospitals(hospitals_df)

#drop columns, we only need the coordinates
pit_hospitals_with_coords = pit_hospitals_with_coords.loc[:, ['latitude', 'longitude']]

# display the hospitals DataFrame with addresses and coordinates
print(pit_hospitals_with_coords)

     latitude  longitude
0   51.099783   4.232622
1   50.986425   3.527572
2   51.223649   4.434875
3   50.810888   4.933485
4   51.187526   5.114405
5   51.101340   4.000929
6   50.909904   4.196023
7   51.222791   2.914147
8   51.062547   3.720756
9   51.307809   3.124371
10  50.957775   5.517608
11  50.825930   4.378332
12  50.833473   4.345943
13  50.835695   4.348181
14  50.418054   4.480988
15  43.219179   0.079410
16  50.467587   4.888018
17  50.487178   4.159503
18  50.674721   5.633436
19  50.652037   5.578166
20  50.582211   5.859296
21  49.584723   3.054645
22  49.552645   5.526049
23  49.927931   5.384295

In [236]:
# now get and store the mug hospital coordinates
mug_hospitals_with_coords = pd.DataFrame(columns=['latitude', 'longitude'])

def geocode_hospitals(df):
    for index, row in df.iterrows():
        address = row['address_campus']
        municipality = row['municipality']
        
        # construct the query using address and municipality
        query = f"{address}, {municipality}, Belgium"
        
        try:
            location = geolocator.geocode(query, timeout=10)
            if location:
                df.loc[index, 'latitude'] = location.latitude
                df.loc[index, 'longitude'] = location.longitude
            else:
                df.loc[index, 'latitude'] = None
                df.loc[index, 'longitude'] = None
        except (GeocoderTimedOut, GeocoderServiceError) as e:
            print(f"Error geocoding {query}: {e}")
            df.loc[index, 'latitude'] = None
            df.loc[index, 'longitude'] = None

    return df

# geocode the hospitals
mug_hospitals_with_coords = geocode_hospitals(mug_locations)

# display the hospitals DataFrame with addresses and coordinates
print(mug_hospitals_with_coords)

    hospital_id  mug_id  campus_id                      name_hospital  \
0             9  102000       6230  ZIEKENHUISNETWERK ANTWERPEN (ZNA)
1            99  102000       2020                  GZA- ZIEKENHUIZEN
2           682  102000       1210                          AZ MONICA
3             9  103000       2000  ZIEKENHUISNETWERK ANTWERPEN (ZNA)
4            99  103000       1290                  GZA- ZIEKENHUIZEN
..          ...     ...        ...                                ...
89           20  808000       3010        CHR VERVIERS - EAST BELGIUM
90          168  901000       3720                           VIVALIA
91          246  902000       3690                           VIVALIA
92          168  903000       3240                           VIVALIA
93          164  904000       3230                           VIVALIA

             name_campus           address_campus  postal_code  \
0              ZNA CADIX         KEMPENSTRAAT 100         2030
1        SINT-VINCENTIUS  ST.-VINCENTIUSSTRAAT 20         2018
2                 DEURNE     FLORENT PAUWELSLEI 1         2100
3         ZNA MIDDELHEIM            LINDENDREEF 1         2020
4       SINT- AUGUSTINUS        OOSTERVELDLAAN 24         2610
..                   ...                      ...          ...
89           LA TOURELLE           RUE DU PARC 29         4800
90   HOPITAL DE BASTOGNE      RUE DE HOUFFALIZE 1         6600
91       HOPITAL D'ARLON     RUE DES DEPORTES 137         6700
92  HOPITAL DE LIBRAMONT  AVENUE DE HOUFFALIZE 35         6800
93     HOPITAL DE MARCHE         RUE DU VIVIER 21         6900

         municipality region   province   latitude  longitude
0           ANTWERPEN      V  Antwerpen  51.231381   4.415761
1           ANTWERPEN      V  Antwerpen  51.205787   4.412513
2              DEURNE      V  Antwerpen  51.206556   4.470778
3           ANTWERPEN      V  Antwerpen  51.311747   4.855492
4             WILRIJK      V  Antwerpen  51.174354   4.420085
..                ...    ...        ...        ...        ...
89           VERVIERS      W       Luik  50.715566   6.007128
90           BASTOGNE      W  Luxemburg  50.159120   5.683116
91              ARLON      W  Luxemburg  49.677372   5.820148
92          LIBRAMONT      W  Luxemburg  49.927931   5.384295
93  MARCHE-EN-FAMENNE      W  Luxemburg  50.227536   5.323654

[94 rows x 12 columns]

In [237]:
#remove all but the coordinate variables
mug_hospitals_with_coords = mug_hospitals_with_coords.loc[:, ['latitude', 'longitude']]
print(mug_hospitals_with_coords)

     latitude  longitude
0   51.231381   4.415761
1   51.205787   4.412513
2   51.206556   4.470778
3   51.311747   4.855492
4   51.174354   4.420085
..        ...        ...
89  50.715566   6.007128
90  50.159120   5.683116
91  49.677372   5.820148
92  49.927931   5.384295
93  50.227536   5.323654

[94 rows x 2 columns]

In [238]:
# put it into one big table, that contains all the coordinates
ambulance_locations_with_coords = ambulance_locations.loc[:, ['latitude', 'longitude']]
all_hospital_locations = pd.concat([mug_hospitals_with_coords, pit_hospitals_with_coords, ambulance_locations_with_coords], ignore_index = True)
all_hospital_locations

      latitude  longitude
0    51.231381   4.415761
1    51.205787   4.412513
2    51.206556   4.470778
3    51.311747   4.855492
4    51.174354   4.420085
..         ...        ...
392  50.025633   5.359641
393  50.674803   5.633665
394  50.652888   5.578356
395  50.622523   5.636381
396  50.828298   5.200855

[397 rows x 2 columns]

In [239]:
#we can simply put all the coordinates in one table, to get a single table of hospital coordinates.

In [240]:
# the coordinates of the hospitals should match the coordinates from the calls. dus dat kan ik verifiëren.
# if the data is good, there should be a perfect overlap between the hospital permanence and the interventions permanence coordinates. This will be
#verified.

interventions_bxl_coords = interventions_bxl.loc[:, ['latitude_permanence', 'longitude_permanence']]
interventions_bxl2_coords = interventions_bxl2.loc[:, ['Latitude Permanence', 'Longitude Permanence']]
interventions1_coords = interventions1.loc[:, ['Latitude permanence', 'Longitude permanence']]
interventions2_coords = interventions2.loc[:, ['Latitude permanence', 'Longitude permanence']]
interventions3_coords = interventions3.loc[:, ['Latitude permanence', 'Longitude permanence']]
cad9_coords = cad9.loc[:, ['Latitude permanence', 'Longitude permanence']]

# need to divide, there was no decimal point in the coordinates for the BXL interventions
# the inputted coordinates are not consistent in the amount of precision, so simply dividing all by 10**5 would not work, for example one coordinate 
#would be 500.123456, and another would be 5.00123456, while we want 50.0123456
#interventions_bxl_coords = interventions_bxl_coords/10**5
#interventions_bxl2_coords = interventions_bxl2_coords/10**5



# rename columns to match between the different datasets. The column names from interventions_bxl are used as the standard.
interventions_bxl2_coords = interventions_bxl2_coords.rename(columns={
    'Latitude Permanence': 'latitude_permanence',
    'Longitude Permanence': 'longitude_permanence'
})
interventions1_coords = interventions1_coords.rename(columns={
    'Latitude permanence': 'latitude_permanence',
    'Longitude permanence': 'longitude_permanence'
})
interventions2_coords = interventions2_coords.rename(columns={
    'Latitude permanence': 'latitude_permanence',
    'Longitude permanence': 'longitude_permanence'
})
interventions3_coords = interventions3_coords.rename(columns={
    'Latitude permanence': 'latitude_permanence',
    'Longitude permanence': 'longitude_permanence'
})
cad9_coords = cad9_coords.rename(columns={
    'Latitude permanence': 'latitude_permanence',
    'Longitude permanence': 'longitude_permanence'
})

In [241]:
#for the interventions_bxl and interventions_bxl2 tables the coordinates were not given with their decimal points, so we need to
#convert those coordinate values.
#finding the minimum value, so we can divide all values and speed up the process in the following cell
min_lat_bxl = interventions_bxl_coords['latitude_permanence'].min()
min_long_bxl = interventions_bxl_coords['longitude_permanence'].min()

min_lat_bxl2 = interventions_bxl_coords['latitude_permanence'].min()
min_long_bxl2 = interventions_bxl_coords['longitude_permanence'].min()

print(min_lat_bxl)
print(min_long_bxl)
print(min_lat_bxl2)
print(min_long_bxl2)

#so for latitude the initial divide can be by 10**4, for longitude it can be 10**3, based on the printed values:
#508047
#43089
#508047
#43089

508047
43089
508047
43089

In [242]:
#adjusting the values for the bxl table, so that they are correctly formatted (with decimal point at the right place)
#latitude needs to be 2 numbers before the decimal, longitude 1 number before the decimal. We know that the entirety of Belgium lies  around rougly
#longitude 50.5 and latitude 4, so values deviating strongly from those (more than 2 units) are known to be invalid.

# fast solution to convert it, simply by dividing the values (using a simple while loop and iteratively dividing by 10 was too slow)
import math
def format_latitude(value):
    value / 10**4   #DIT KAN IK EIGENLIJK ERVOOR DOEN, AANGEZIEN HET HETZELFDE IS VOOR BEIDE KOLOMMEN, AL ERVOOR DELEN.
    if value > 99:
        value = value / (10**math.floor(math.log10(value) - 1))
    return value

# longitude needs to be 1 number before the decimal
def format_longitude(value):
    value / 10**4
    if value > 9:
        value = value / (10**math.floor(math.log10(value)))
    return value

interventions_bxl_coords['latitude_permanence'] = interventions_bxl_coords['latitude_permanence'].apply(format_latitude)
interventions_bxl_coords['longitude_permanence'] = interventions_bxl_coords['longitude_permanence'].apply(format_longitude)

interventions_bxl2_coords['latitude_permanence'] = interventions_bxl2_coords['latitude_permanence'].apply(format_latitude)
interventions_bxl2_coords['longitude_permanence'] = interventions_bxl2_coords['longitude_permanence'].apply(format_longitude)

In [243]:
# the values seem withing range, realistic coordinates.
testbxl = interventions_bxl_coords.value_counts()
testbxl2 = interventions_bxl2_coords.value_counts()

print(testbxl)
print(testbxl2)

latitude_permanence  longitude_permanence
50.859460            4.351810                18934
50.832540            4.311990                12996
50.834330            4.345450                11607
50.869480            4.386490                 9979
50.818870            4.403110                 9037
50.850970            4.364110                 8983
50.890870            4.308670                 7048
50.852110            4.460400                 4172
50.815980            4.341524                 3072
50.804700            4.367630                 3010
50.835710            4.347930                 2701
50.842260            4.399250                 2608
50.884920            4.308900                 2470
50.837580            4.349150                 2400
50.869370            4.386460                 2230
50.825730            4.379190                 2020
50.804690            4.367640                 1892
50.783440            4.356330                 1772
50.852300            4.359880                 1721
50.906541            4.388562                 1355
50.825831            4.378717                 1348
50.813960            4.259420                 1304
50.853320            4.453250                 1085
50.817840            4.402220                 1067
50.885930            4.309490                  836
Name: count, dtype: int64
latitude_permanence  longitude_permanence
50.832664            4.311889                3974
50.835633            4.347475                3711
50.851375            4.364098                2760
50.869388            4.387196                2607
50.852175            4.460210                1186
50.842255            4.399238                1100
50.825853            4.378818                 840
50.834581            4.345843                 691
50.887202            4.310674                 628
50.852773            4.453082                 505
50.853928            4.359311                 498
50.825709            4.379229                 347
50.816932            4.400286                 323
50.843203            4.360307                  70
50.847355            4.262287                  24
50.927369            4.420219                  12
50.925624            4.423019                   7
50.734364            4.227990                   3
50.752004            4.255500                   3
50.729267            4.490265                   2
50.874969            4.492436                   2
50.774608            4.530307                   1
50.660369            4.567718                   1
50.712671            3.834231                   1
50.703006            4.615846                   1
51.004169            4.306699                   1
51.019530            4.478755                   1
51.153839            4.984030                   1
51.184492            4.837148                   1
Name: count, dtype: int64

In [244]:
# concatenating it into one big table
all_permanence_locations = pd.concat([interventions_bxl_coords,
                                     interventions_bxl2_coords,
                                     interventions1_coords,
                                     interventions2_coords,
                                     interventions3_coords,
                                     cad9_coords], ignore_index = True)
all_permanence_locations_unique = all_permanence_locations.drop_duplicates()

In [245]:
permanence_value_counts = all_permanence_locations.value_counts()
print(permanence_value_counts)

latitude_permanence  longitude_permanence
50.85946             4.35181                 18934
50.83254             4.31199                 12996
50.44608             3.91916                 11742
50.83433             4.34545                 11607
50.39143             4.42896                 11192
                                             ...
50.30147             4.64535                     1
51.24501             4.48938                     1
50.31327             4.90912                     1
50.36155             3.49716                     1
49.98963             4.71100                     1
Name: count, Length: 654, dtype: int64

In [246]:
#check if the number of numbers after the decimal is equal for all values in the table, since that also influences the count of
#unique values, which might explain why there are more values here than in the hospital location table.

# check if the number of numbers after the decimal point is equal for all values

def count_decimal_places(x):
    s = str(x)
    if '.' in s:
        return len(s.split('.')[1])
    else:
        return 0

# apply the function to both columns
decimal_places_latitude = all_permanence_locations['latitude_permanence'].apply(count_decimal_places)
decimal_places_longitude = all_permanence_locations['longitude_permanence'].apply(count_decimal_places)

# combine the results and find the min and max
all_decimal_places = pd.concat([decimal_places_latitude, decimal_places_longitude])
min_decimal_places = all_decimal_places.min()
max_decimal_places = all_decimal_places.max()

# check if all values have the same number of decimal places
same_decimal_places = decimal_places_latitude.equals(decimal_places_longitude)

# Display results
print(f"Minimum number of decimal places: {min_decimal_places}")
print(f"Maximum number of decimal places: {max_decimal_places}")
print(f"All values have the same number of decimal places: {same_decimal_places}")

Minimum number of decimal places: 0
Maximum number of decimal places: 14
All values have the same number of decimal places: False

In [247]:
#the amount of decimals is all over the place, which is very problematic.

# get the count of each unique number of decimal places
decimal_places_count = all_decimal_places.value_counts().sort_index()

print("Count of each number of decimal places:")
print(decimal_places_count)

Count of each number of decimal places:
0      258768
3      115429
4       65560
5     1010679
6        1761
7       68219
8      226239
9      220842
10      19957
12       6627
13      45210
14      51807
Name: count, dtype: int64

In [248]:
# check if the amount of numbers before the decimal is 1 for longitude, and 2 for latitude, as they should be. This could be 
#part of the cause of the differing number of numbers.

def check_digits_before_decimal(x, expected_digits):
    s = str(x)
    if '.' in s:
        digits_before_decimal = len(s.split('.')[0])
        return digits_before_decimal == expected_digits
    else:
        return False

# apply the function to latitude (expecting 2 digits before decimal)
latitude_check = all_permanence_locations['latitude_permanence'].apply(check_digits_before_decimal, expected_digits=2)

# apply the function to longitude (expecting 1 digit before decimal)
longitude_check = all_permanence_locations['longitude_permanence'].apply(check_digits_before_decimal, expected_digits=1)

# check if all values meet the criteria
all_latitude_valid = latitude_check.all()
all_longitude_valid = longitude_check.all()

print(f"All 'latitude_permanence' values have 2 digits before the decimal point: {all_latitude_valid}")
print(f"All 'longitude_permanence' values have 1 digit before the decimal point: {all_longitude_valid}")

All 'latitude_permanence' values have 2 digits before the decimal point: False
All 'longitude_permanence' values have 1 digit before the decimal point: False

In [249]:
#we can simply apply the same function we used on the bxl coordinates again to all the data.

all_permanence_locations_formatted = all_permanence_locations
all_permanence_locations_formatted['latitude_permanence'] = all_permanence_locations_formatted['latitude_permanence'].apply(format_latitude)
all_permanence_locations_formatted['longitude_permanence'] = all_permanence_locations_formatted['longitude_permanence'].apply(format_longitude)

#there are 20 values less here, this implies that some coordinates were double coded but with different levels of precision (less decimals)
print(all_permanence_locations_formatted.value_counts())

latitude_permanence  longitude_permanence
50.85946             4.35181                 18934
50.83254             4.31199                 12996
50.44608             3.91916                 11742
50.83433             4.34545                 11607
50.39143             4.42896                 11192
                                             ...
50.30147             4.64535                     1
50.36155             3.49716                     1
50.31327             4.90912                     1
51.20478             4.77508                     1
49.98963             4.71100                     1
Name: count, Length: 634, dtype: int64

In [250]:
#check again if the number of decimals is the same, to see if this solved the problem.

decimal_places_latitude = all_permanence_locations_formatted['latitude_permanence'].apply(count_decimal_places)
decimal_places_longitude = all_permanence_locations_formatted['longitude_permanence'].apply(count_decimal_places)

all_decimal_places = pd.concat([decimal_places_latitude, decimal_places_longitude])

min_decimal_places = all_decimal_places.min()
max_decimal_places = all_decimal_places.max()

# get the count of each unique number of decimal places
decimal_places_count = all_decimal_places.value_counts().sort_index()

# display results
print(f"Minimum number of decimal places: {min_decimal_places}")
print(f"Maximum number of decimal places: {max_decimal_places}")
print("Count of each number of decimal places:")
print(decimal_places_count)

Minimum number of decimal places: 0
Maximum number of decimal places: 16
Count of each number of decimal places:
0      258768
3       21589
4       73640
5     1068696
6        1761
7       68219
8      226239
9      220842
10      19957
12       6627
13      45210
14      51807
15       7817
16      19926
Name: count, dtype: int64

In [251]:
#the count of unique values is influenced by the number of numbers after the decimal point, e.g. 51.1234 is not the same as
# 51.123, with one less number after the decimal. Therefore the varying number of digits after the decimal point is a problem.
all_permanence_locations_unique_test = all_permanence_locations_formatted.drop_duplicates()
print(all_permanence_locations_unique_test)

         latitude_permanence  longitude_permanence
0                  50.850970              4.364110
2                  50.834330              4.345450
4                  50.852110              4.460400
6                  50.842260              4.399250
8                  50.869480              4.386490
...                      ...                   ...
952153             51.179015              4.361991
952385             51.156827              4.415969
978425             51.205074              4.396444
1030254            51.210317              4.051975
1036343            51.251317              4.248720

[925 rows x 2 columns]

In [252]:
#we cannot use the coordinates with fewer than 6 digits after the decimal point. It is possible however that all the coordinates
#with fewer than 6 digits have zeroes instead of other numbers, so for example 4.50000, where the zeroes have been removed. However, this is 
#extremely unlikely to be the case for all those cases.
#when removing all the coordinates with fewer than 6 numbers after the decimal, we end up with 226 unique values. This is fewer
#than the amount of coordinates from the hospital tables. Therefore, we will use the coordinates from the hospital table in all further analyses
#regarding the permanences.
#this again shows how inconsistent the data in general is.

#count and store the number of decimal places to use it to filter
decimal_places_latitude = all_permanence_locations_formatted['latitude_permanence'].apply(count_decimal_places)
decimal_places_longitude = all_permanence_locations_formatted['longitude_permanence'].apply(count_decimal_places)

# filter the DataFrame to keep rows where both columns have at least 6 decimal places
decimal_filtered_permanence_test = all_permanence_locations_formatted[(decimal_places_latitude >= 6) & (decimal_places_longitude >= 6)]


unique = decimal_filtered_permanence_test.drop_duplicates()
print(unique)

         latitude_permanence  longitude_permanence
2                  50.834330              4.345450
15                 50.825831              4.378717
26                 50.815980              4.341524
215                50.906541              4.388562
115647             50.842255              4.399238
...                      ...                   ...
952153             51.179015              4.361991
952385             51.156827              4.415969
978425             51.205074              4.396444
1030254            51.210317              4.051975
1036343            51.251317              4.248720

[226 rows x 2 columns]

In [253]:
#rename to make the merging of the tables possible.

#OOK DE COORDS NOG NODIG, DUS DAT KAN IK OOK AL DIRECT DOEN. EERST FILTEREN OP DE HARTSTILSTANDEN, dan is het sneller om mee te werken.
#tijden ook bijhouden
#of het afgebroken wordt, of er effectief wordt opgehaald, ook bijhouden, om te filteren.
#
cad9 = cad9.rename(columns={'EventType Trip': 'eventType_trip'})
interventions_bxl = interventions_bxl.rename(columns={'eventtype_trip': 'eventType_trip'})
interventions_bxl2 = interventions_bxl2.rename(columns={'EventType and EventLevel': 'eventType_trip'})
interventions1 = interventions1.rename(columns={'EventType Trip': 'eventType_trip'})
interventions2 = interventions2.rename(columns={'EventType Trip': 'eventType_trip'})
interventions3 = interventions3.rename(columns={'EventType Trip': 'eventType_trip'})

In [254]:
#inspecting the variables to see which of them we should keep for further analysis

cad9_vars = cad9.columns.tolist()
interventions_bxl_vars = interventions_bxl.columns.tolist()
interventions_bxl2_vars = interventions_bxl2.columns.tolist()
interventions1_vars = interventions1.columns.tolist()
interventions2_vars = interventions2.columns.tolist()
interventions3_vars = interventions3.columns.tolist()

print(cad9_vars)
'eventType_trip'
'T0'
'T3'
'Latitude intervention'
'Longitude intervention'

print(interventions_bxl_vars)
'eventType_trip'
't0'
't3'
'number_of_transported_persons'
'abandon_reason'
'latitude_intervention'
'longitude_intervention'

print(interventions_bxl2_vars)
'T0'
'eventType_trip'
'Number of transported persons'
'Abandon reason NL', 'Abandon reason FR'
'T3'
'Latitude Permanence'
'Longitude Permanence'

print(interventions1_vars)
'eventType_trip'
'T0'
'T3'
'Number of transported persons'
'Abandon reason'
'Latitude intervention'
'Longitude intervention'

print(interventions2_vars)
'eventType_trip'
'T0'
'T3'
'Number of transported persons'
'Abandon reason'
'Latitude intervention'
'Longitude intervention'

print(interventions3_vars)
'eventType_trip'
'T0'
'T3'
'Number of transported persons'
'Abandon reason'
'Latitude intervention'
'Longitude intervention'

['province', 'Mission ID', 'Service Name', 'Latitude permanence', 'Longitude permanence', 'Permanence short name', 'Permanence long name', 'Vector Type', 'eventType_trip', 'EventSubType Trip', 'EventLevel Trip', 'CityName intervention', 'CitysectionName intervention', 'Latitude intervention', 'Longitude intervention', 'Province invervention', 'T0', 'T1', 'T1confirmed', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'Name destination hospital', 'Intervention time (T1Reported)', 'Intervention time (T1Confirmed)', 'Departure time (T1Reported)', 'Departure time (T1Confirmed)', 'UI', 'ID', 'MISSION_NR', 'AMBUCODE', 'UNIT_ID']
['mission_id', 'service_name', 'postalcode_permanence', 'cityname_permanence', 'streetname_permanence', 'housenumber_permanence', 'latitude_permanence', 'longitude_permanence', 'permanence_short_name', 'permanence_long_name', 'vector_type', 'eventtype_firstcall', 'eventLevel_firstcall', 'eventType_trip', 'eventlevel_trip', 'postalcode_intervention', 'cityname_intervention', 'latitude_intervention', 'longitude_intervention', 't0', 't1', 't1confirmed', 't2', 't3', 't4', 't5', 't6', 't7', 't9', 'intervention_time_t1reported', 'waiting_time', 'intervention_duration', 'departure_time_t1reported', 'unavailable_time', 'name_destination_hospital', 'postalcode_destination_hospital', 'cityname_destination_hospital', 'streetname_destination_hospital', 'housenumber_destination_hospital', 'calculated_traveltime_departure_', 'calculated_distance_departure_to', 'calculated_traveltime_destinatio', 'calculated_distance_destination_', 'number_of_transported_persons', 'abandon_reason']
['Mission ID', 'T0', 'Cityname Intervention', 'Longitude intervention', 'Latitude intervention', 'description_nl', 'ic_description_nl', 'eventType_trip', 'creationtime', 'Number of transported persons', 'Permanence long name NL', 'Permanence long name FR', 'Permanence short name NL', 'Permanence short name FR', 'Service Name NL', 'Service Name FR', 'Cityname Permanence', 'Streetname Permanence', 'Housenumber Permanence', 'Latitude Permanence', 'Longitude Permanence', 'Vector type NL', 'Vector type FR', 'Name destination hospital', 'Cityname destination hospital', 'Streetname destination hospital', 'Housenumber destination hospital', 'Abandon reason NL', 'Abandon reason FR', 'T1', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7']
['Mission ID', 'Service Name', 'PostalCode permanence', 'CityName permanence', 'StreetName permanence', 'HouseNumber permanence', 'Latitude permanence', 'Longitude permanence', 'Permanence short name', 'Permanence long name', 'Vector type', 'EventType Firstcall', 'EventLevel Firstcall', 'eventType_trip', 'EventLevel Trip', 'PostalCode intervention', 'CityName intervention', 'Latitude intervention', 'Longitude intervention', 'Province intervention', 'T0', 'T1', 'T1confirmed', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'T9', 'Intervention time (T1Reported)', 'Intervention time (T1Confirmed)', 'Waiting time', 'Intervention duration', 'Departure time (T1Reported)', 'Departure time (T1Confirmed)', 'Unavailable time', 'Name destination hospital', 'PostalCode destination hospital', 'CityName destination hospital', 'StreetName destination hospital', 'HouseNumber destination hospital', 'Calculated travelTime destinatio', 'Calculated Distance destination', 'Number of transported persons', 'Abandon reason']
['Mission ID', 'Service Name', 'PostalCode permanence', 'CityName permanence', 'StreetName permanence', 'HouseNumber permanence', 'Latitude permanence', 'Longitude permanence', 'Permanence short name', 'Permanence long name', 'Vector type', 'EventType Firstcall', 'EventLevel Firstcall', 'eventType_trip', 'EventLevel Trip', 'PostalCode intervention', 'CityName intervention', 'Latitude intervention', 'Longitude intervention', 'Province intervention', 'T0', 'T1', 'T1confirmed', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'T9', 'Intervention time (T1Reported)', 'Intervention time (T1Confirmed)', 'Waiting time', 'Intervention duration', 'Departure time (T1Reported)', 'Departure time (T1Confirmed)', 'Unavailable time', 'Name destination hospital', 'PostalCode destination hospital', 'CityName destination hospital', 'StreetName destination hospital', 'HouseNumber destination hospital', 'Calculated travelTime destinatio', 'Calculated Distance destination', 'Number of transported persons', 'Abandon reason']
['Mission ID', 'Service Name', 'PostalCode permanence', 'CityName permanence', 'StreetName permanence', 'HouseNumber permanence', 'Latitude permanence', 'Longitude permanence', 'Permanence short name', 'Permanence long name', 'Vector type', 'EventType Firstcall', 'EventLevel Firstcall', 'eventType_trip', 'EventLevel Trip', 'PostalCode intervention', 'CityName intervention', 'Latitude intervention', 'Longitude intervention', 'Province intervention', 'T0', 'T1', 'T1confirmed', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'T9', 'Intervention time (T1Reported)', 'Intervention time (T1Confirmed)', 'Waiting time', 'Intervention duration', 'Departure time (T1Reported)', 'Departure time (T1Confirmed)', 'Unavailable time', 'Name destination hospital', 'PostalCode destination hospital', 'CityName destination hospital', 'StreetName destination hospital', 'HouseNumber destination hospital', 'Calculated travelTime destinatio', 'Calculated Distance destination', 'Number of transported persons', 'Abandon reason']

'Longitude intervention'

In [255]:
print(interventions3_vars)

['Mission ID', 'Service Name', 'PostalCode permanence', 'CityName permanence', 'StreetName permanence', 'HouseNumber permanence', 'Latitude permanence', 'Longitude permanence', 'Permanence short name', 'Permanence long name', 'Vector type', 'EventType Firstcall', 'EventLevel Firstcall', 'eventType_trip', 'EventLevel Trip', 'PostalCode intervention', 'CityName intervention', 'Latitude intervention', 'Longitude intervention', 'Province intervention', 'T0', 'T1', 'T1confirmed', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'T9', 'Intervention time (T1Reported)', 'Intervention time (T1Confirmed)', 'Waiting time', 'Intervention duration', 'Departure time (T1Reported)', 'Departure time (T1Confirmed)', 'Unavailable time', 'Name destination hospital', 'PostalCode destination hospital', 'CityName destination hospital', 'StreetName destination hospital', 'HouseNumber destination hospital', 'Calculated travelTime destinatio', 'Calculated Distance destination', 'Number of transported persons', 'Abandon reason']

In [256]:
#renaming the other variables too

interventions_bxl = interventions_bxl.rename(columns={'t0': 'T0',
                                                     't3': 'T3',
                                                     'eventtype_trip': 'eventType_trip'})
interventions_bxl2 = interventions_bxl2.rename(columns={'Number of transported persons': 'number_of_transported_persons',
                                                       'Abandon reason NL': 'abandon_reason',
                                                        'Latitude intervention': 'latitude_intervention',
                                                        'Longitude intervention': 'longitude_intervention',
                                                        'EventType and EventLevel': 'eventType_trip'})
interventions1 = interventions1.rename(columns={'Number of transported persons': 'number_of_transported_persons',
                                                       'Abandon reason': 'abandon_reason',
                                                        'Latitude intervention': 'latitude_intervention',
                                                        'Longitude intervention': 'longitude_intervention',
                                                        'EventType Trip': 'eventType_trip'})
interventions2 = interventions2.rename(columns={'Number of transported persons': 'number_of_transported_persons',
                                                       'Abandon reason': 'abandon_reason',
                                                        'Latitude intervention': 'latitude_intervention',
                                                        'Longitude intervention': 'longitude_intervention',
                                                        'EventType Trip': 'eventType_trip'})
interventions3 = interventions3.rename(columns={'Number of transported persons': 'number_of_transported_persons',
                                                       'Abandon reason': 'abandon_reason',
                                                        'Latitude intervention': 'latitude_intervention',
                                                        'Longitude intervention': 'longitude_intervention',
                                                        'EventType Trip': 'eventType_trip'})
cad9 = cad9.rename(columns = {                          'Latitude intervention': 'latitude_intervention',
                                                        'Longitude intervention': 'longitude_intervention',
                                                         'EventType Trip': 'eventType_trip'})

In [257]:
interventions_bxl

,mission_id,service_name,postalcode_permanence,cityname_permanence,streetname_permanence,housenumber_permanence,latitude_permanence,longitude_permanence,permanence_short_name,permanence_long_name,...,postalcode_destination_hospital,cityname_destination_hospital,streetname_destination_hospital,housenumber_destination_hospital,calculated_traveltime_departure_,calculated_distance_departure_to,calculated_traveltime_destinatio,calculated_distance_destination_,number_of_transported_persons,abandon_reason
0,20222490011,FB PDS BRUX [PASI CitÈ] SIAMU,1000,Brussel (Brussel),Vesaliusstraat,None,5085097,436411,ABBRUX11A,AMB CITE 2,...,NaN,None,None,NaN,92.0,784.0,NaN,NaN,NaN,Error
1,20222490011,FB PDS BRUX [PASI CitÈ] SIAMU,1000,Brussel (Brussel),Vesaliusstraat,None,5085097,436411,ABBRUX03A,AMB HELI 3,...,1000.0,Brussel (Brussel),Broekstraat,NaN,92.0,784.0,136.0,1330.0,NaN,None
2,20222490012,HB UR BRUX CHU St Pierre,1000,Brussel (Brussel),Rue Haute,None,508343302,43454504,ABBRUX06A,AMB HSP 1,...,NaN,None,None,NaN,28.0,228.0,NaN,NaN,NaN,Error
3,20222490015,FB PDS BRUX [PASI CitÈ] SIAMU,1000,Brussel (Brussel),Vesaliusstraat,None,5085097,436411,ABBRUX03A,AMB HELI 3,...,NaN,None,None,NaN,8.0,58.0,NaN,NaN,NaN,Weigering van vervoer
4,20222490019,FB PDS WOLL [PASI UCL] SIAMU,1200,Woluwe-Saint-Lambert (Woluwe-Saint-Lambert),Avenue Hippocrate - Hippokrateslaan,None,5085211,44604,ABWOLL01A,AMB UCL 1,...,NaN,None,None,NaN,152.0,1905.0,NaN,NaN,NaN,Geannuleerd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115642,20231510397,FB PDS BRUX [PASI CitÈ] SIAMU,1000,Brussel (Brussel),Vesaliusstraat,None,5085097,436411,ABBRUX10A,AMB CITE 1,...,NaN,None,None,NaN,173.0,1889.0,NaN,NaN,NaN,Weigering van vervoer
115643,20231510397,FB PDS BRUX [PASI CitÈ] SIAMU,1000,Brussel (Brussel),Vesaliusstraat,None,5085097,436411,ABBRUX11A,AMB CITE 2,...,NaN,None,None,NaN,173.0,1889.0,NaN,NaN,NaN,Error
115644,20231510399,FB PDS ANDE [PASI Anderlecht] SIAMU,1070,Anderlecht,Bergense Steenweg,None,5083254,431199,ABANDE01A,AMB AND 1,...,NaN,None,None,NaN,94.0,967.0,NaN,NaN,NaN,Error
115645,20231510399,FB PDS ANDE [PASI Anderlecht] SIAMU,1070,Anderlecht,Bergense Steenweg,None,5083254,431199,ABANDE04A,AMB AND 4,...,1070.0,Anderlecht (Anderlecht),Jules Graindorlaan,66.0,94.0,967.0,151.0,1447.0,NaN,None
115646,20231510400,FB PDS BRUX [Caserne HÈliport] SIAMU,1000,Bruxelles (Bruxelles),Avenue de l'HÈliport,None,5085946,435181,ABBRUX04A,AMB HELI 4,...,1000.0,Brussel (Brussel),Broekstraat,NaN,135.0,1294.0,73.0,608.0,1.0,None

In [258]:
interventions_bxl.columns.tolist()

['mission_id',
 'service_name',
 'postalcode_permanence',
 'cityname_permanence',
 'streetname_permanence',
 'housenumber_permanence',
 'latitude_permanence',
 'longitude_permanence',
 'permanence_short_name',
 'permanence_long_name',
 'vector_type',
 'eventtype_firstcall',
 'eventLevel_firstcall',
 'eventType_trip',
 'eventlevel_trip',
 'postalcode_intervention',
 'cityname_intervention',
 'latitude_intervention',
 'longitude_intervention',
 'T0',
 't1',
 't1confirmed',
 't2',
 'T3',
 't4',
 't5',
 't6',
 't7',
 't9',
 'intervention_time_t1reported',
 'waiting_time',
 'intervention_duration',
 'departure_time_t1reported',
 'unavailable_time',
 'name_destination_hospital',
 'postalcode_destination_hospital',
 'cityname_destination_hospital',
 'streetname_destination_hospital',
 'housenumber_destination_hospital',
 'calculated_traveltime_departure_',
 'calculated_distance_departure_to',
 'calculated_traveltime_destinatio',
 'calculated_distance_destination_',
 'number_of_transported_persons',
 'abandon_reason']

In [259]:
common_variables = ['eventType_trip', 'T0', 'T3', 'number_of_transported_persons', 'abandon_reason',
                    'latitude_intervention', 'longitude_intervention', ]
interventions_bxl_filtered = interventions_bxl.filter(common_variables)
interventions_bxl2_filtered = interventions_bxl2.filter(common_variables)
interventions1_filtered = interventions1.filter(common_variables)
interventions2_filtered = interventions2.filter(common_variables)
interventions3_filtered = interventions3.filter(common_variables)
cad9_filtered = cad9.filter(['eventType_trip', 'T0', 'T3'])

In [261]:
testero = interventions_bxl_filtered
reserve = interventions_bxl_filtered

In [270]:
from datetime import datetime
from dateutil import parser

#the +02:00 or +00:00 parts are removed, because it simply is unclear what it means in the first place
def remove_plus(dt_str):
    if pd.isna(dt_str):
        return None
    # find the index of the '+' character
    plus_index = dt_str.find('+')
    if plus_index != -1:
        dt_str = dt_str[:plus_index].strip()  # Remove timezone part
    return dt_str


# Remove timezone information (convert to naive datetime)
interventions_bxl_filtered['T0'] = interventions_bxl_filtered['T0'].apply(remove_plus)
interventions_bxl_filtered['T3'] = interventions_bxl_filtered['T3'].apply(remove_plus)

#the data is unnecessarily precise
def truncate_to_microseconds(dt_str):
    if pd.isna(dt_str):
        return None
    # Truncate the string to microseconds (6 digits) and remove any remaining part
    if '.' in dt_str:
        # Split the seconds part and take only the first 6 digits after the decimal
        dt_str = dt_str.split('.')[0] + '.' + dt_str.split('.')[1][:6]
    return dt_str
interventions_bxl_filtered['T0'] = interventions_bxl_filtered['T0'].apply(truncate_to_microseconds)
interventions_bxl_filtered['T3'] = interventions_bxl_filtered['T3'].apply(truncate_to_microseconds)

In [214]:
testero

,eventType_trip,T0,T3,number_of_transported_persons,abandon_reason,latitude_intervention,longitude_intervention
0,P033 - Trauma,2022-09-06 11:49:21.586859800,NaT,NaN,Error,5085139.0,436918.0
1,P033 - Trauma,2022-09-06 11:49:21.586859800,2022-09-06 10:07:00.784280000,NaN,None,5085139.0,436918.0
2,P059 - Dizziness - Nausea,2022-09-06 11:55:35.793679100,NaT,NaN,Error,5083336.0,434504.0
3,P019 - Unconscious - syncope,2022-09-06 12:39:23.433732400,NaT,NaN,Weigering van vervoer,5085076.0,436359.0
4,P033 - Trauma,2022-09-06 13:26:48.337914700,NaT,NaN,Geannuleerd,508561.0,443169.0
...,...,...,...,...,...,...,...
115642,P069 - Wounds,2023-05-31 23:33:23.818779200,2023-05-31 21:42:56.021592200,NaN,Weigering van vervoer,5086697.0,436657.0
115643,P069 - Wounds,2023-05-31 23:33:23.818779200,NaT,NaN,Error,5086697.0,436657.0
115644,P002 - Agression - fight - rape,2023-05-31 23:41:50.181845500,NaT,NaN,Error,5083525.0,43078.0
115645,P002 - Agression - fight - rape,2023-05-31 23:41:50.181845500,2023-05-31 21:47:42.004570400,NaN,None,5083525.0,43078.0
115646,P069 - Wounds,2023-05-31 23:42:36.393535800,2023-05-31 21:54:04.916561200,1.0,None,5085315.0,43526.0

In [266]:
def truncate_to_microseconds(dt_str):
    if pd.isna(dt_str):
        return None
    # Truncate the string to microseconds (6 digits) and remove any remaining part
    if '.' in dt_str:
        # Split the seconds part and take only the first 6 digits after the decimal
        dt_str = dt_str.split('.')[0] + '.' + dt_str.split('.')[1][:6]
    return dt_str
interventions_bxl_filtered['T0'] = interventions_bxl_filtered['T0'].apply(truncate_to_microseconds)
interventions_bxl_filtered['T3'] = interventions_bxl_filtered['T3'].apply(truncate_to_microseconds)
interventions_bxl_filtered

,eventType_trip,T0,T3,number_of_transported_persons,abandon_reason,latitude_intervention,longitude_intervention
0,P033 - Trauma,2022-09-06 11:49:21.586859,None,NaN,Error,5085139.0,436918.0
1,P033 - Trauma,2022-09-06 11:49:21.586859,2022-09-06 10:07:00.784280,NaN,None,5085139.0,436918.0
2,P059 - Dizziness - Nausea,2022-09-06 11:55:35.793679,None,NaN,Error,5083336.0,434504.0
3,P019 - Unconscious - syncope,2022-09-06 12:39:23.433732,None,NaN,Weigering van vervoer,5085076.0,436359.0
4,P033 - Trauma,2022-09-06 13:26:48.337914,None,NaN,Geannuleerd,508561.0,443169.0
...,...,...,...,...,...,...,...
115642,P069 - Wounds,2023-05-31 23:33:23.818779,2023-05-31 21:42:56.021592,NaN,Weigering van vervoer,5086697.0,436657.0
115643,P069 - Wounds,2023-05-31 23:33:23.818779,None,NaN,Error,5086697.0,436657.0
115644,P002 - Agression - fight - rape,2023-05-31 23:41:50.181845,None,NaN,Error,5083525.0,43078.0
115645,P002 - Agression - fight - rape,2023-05-31 23:41:50.181845,2023-05-31 21:47:42.004570,NaN,None,5083525.0,43078.0
115646,P069 - Wounds,2023-05-31 23:42:36.393535,2023-05-31 21:54:04.916561,1.0,None,5085315.0,43526.0

In [267]:
interventions_bxl_filtered = testero

In [277]:
#parsing functions for each table
from datetime import datetime

def parse_cad9_filtered(dt_str):
    if pd.isna(dt_str):
        return None
    return datetime.strptime(dt_str, "%Y-%m-%d %H:%M:%S.%f")

def parse_interventions_bxl_filtered(dt_str):
    if pd.isna(dt_str):
        return None
    return datetime.strptime(dt_str, "%Y-%m-%d %H:%M:%S.%f")

def parse_interventions_bxl2_filtered(dt_str):
    if pd.isna(dt_str):
        return None
    return datetime.strptime(dt_str, "%d%b%y:%H:%M:%S")


#time in multiple formats is present in the interventions1, interventions2 and interventions3 tables.

def parse_interventions1_filtered(dt_str):
    if pd.isna(dt_str):
        return None
    formats = [
        "%Y-%m-%d %H:%M:%S.%f",  # format with microseconds
        "%d%b%y:%H:%M:%S"        # format with abbreviated month and no date separator
    ]
    for fmt in formats:
        try:
            return datetime.strptime(dt_str, fmt)
        except ValueError:
            continue
    return None 

def parse_interventions2_filtered(dt_str):
    if pd.isna(dt_str):
        return None
    formats = [
        "%Y-%m-%d %H:%M:%S.%f",  # format with microseconds
        "%d%b%y:%H:%M:%S"        # format with abbreviated month and no date separator
    ]
    for fmt in formats:
        try:
            return datetime.strptime(dt_str, fmt)
        except ValueError:
            continue
    return None 

def parse_interventions3_filtered(dt_str):
    if pd.isna(dt_str):
        return None
    formats = [
        "%Y-%m-%d %H:%M:%S.%f",  # format with microseconds
        "%d%b%y:%H:%M:%S"        # format with abbreviated month and no date separator
    ]
    for fmt in formats:
        try:
            return datetime.strptime(dt_str, fmt)
        except ValueError:
            continue
    return None

In [279]:
# List of dataframes and their corresponding parsing functions
data_frames = [
    ('cad9_filtered', cad9_filtered, parse_cad9_filtered),
    ('interventions_bxl_filtered', interventions_bxl_filtered, parse_interventions_bxl_filtered),
    ('interventions_bxl2_filtered', interventions_bxl2_filtered, parse_interventions_bxl2_filtered),
    ('interventions1_filtered', interventions1_filtered, parse_interventions1_filtered),
    ('interventions2_filtered', interventions2_filtered, parse_interventions2_filtered),
    ('interventions3_filtered', interventions3_filtered, parse_interventions3_filtered)
]

# Process each dataframe
for name, df, parse_func in data_frames:
    df['parsed_T0'] = df['T0'].apply(parse_func)
    df['parsed_T3'] = df['T3'].apply(parse_func)
    
    # Calculate time difference in seconds, handling None values
    def calculate_time_difference(row):
        if row['parsed_T0'] is None or row['parsed_T3'] is None:
            return None
        return (row['parsed_T3'] - row['parsed_T0']).total_seconds()
    
    df['time_difference_seconds'] = df.apply(calculate_time_difference, axis=1)
    
    print(f"DataFrame: {name}")
    print(df[['T0', 'T3', 'time_difference_seconds']].head())
    print("\n")

DataFrame: cad9_filtered
                        T0                       T3  time_difference_seconds
0  2022-06-01 00:12:50.000  2022-06-01 00:24:46.000                    716.0
1  2022-06-01 00:11:02.000  2022-06-01 00:22:34.000                    692.0
2  2022-07-14 16:54:37.000  2022-06-01 01:17:45.000               -3771412.0
3  2022-07-14 16:54:37.000  2022-06-01 01:17:45.000               -3771412.0
4  2022-06-01 01:14:59.000  2022-06-01 01:31:13.000                    974.0


DataFrame: interventions_bxl_filtered
                           T0                          T3  \
0  2022-09-06 11:49:21.586859                        None
1  2022-09-06 11:49:21.586859  2022-09-06 10:07:00.784280
2  2022-09-06 11:55:35.793679                        None
3  2022-09-06 12:39:23.433732                        None
4  2022-09-06 13:26:48.337914                        None

   time_difference_seconds
0                      NaN
1             -6140.802579
2                      NaN
3                      NaN
4                      NaN


DataFrame: interventions_bxl2_filtered
                 T0                T3  time_difference_seconds
0  01JUN22:00:02:45  01JUN22:00:15:59                    794.0
1  01JUN22:00:04:58  01JUN22:00:19:43                    885.0
2  01JUN22:00:07:43              None                      NaN
3  01JUN22:00:07:43              None                      NaN
4  01JUN22:00:09:18  01JUN22:00:20:29                    671.0


DataFrame: interventions1_filtered
                 T0                       T3  time_difference_seconds
0  01JUN22:00:01:34  2022-06-01 00:17:53.888                  979.888
1  01JUN22:00:03:51  2022-06-01 00:16:25.356                  754.356
2  01JUN22:00:03:51  2022-06-01 00:35:58.397                 1927.397
3  01JUN22:00:08:56  2022-06-01 00:27:35.760                 1119.760
4  01JUN22:00:10:38  2022-06-01 00:25:28.053                  890.053


DataFrame: interventions2_filtered
                 T0                       T3  time_difference_seconds
0  11JUL22:07:13:11  2022-07-11 07:28:57.144                  946.144
1  11JUL22:07:14:34  2022-07-11 07:29:44.622                  910.622
2  11JUL22:07:25:15  2022-07-11 07:48:21.816                 1386.816
3  11JUL22:07:45:26                     None                      NaN
4  11JUL22:07:55:06  2022-07-11 08:07:27.738                  741.738


DataFrame: interventions3_filtered
                 T0                       T3  time_difference_seconds
0  05JAN23:01:18:27  2023-01-05 01:26:06.798                  459.798
1  05JAN23:01:20:59  2023-01-05 01:28:53.947                  474.947
2  05JAN23:01:34:07  2023-01-05 01:44:38.018                  631.018
3  05JAN23:01:33:32  2023-01-05 01:47:22.982                  830.982
4  05JAN23:01:42:33  2023-01-05 01:55:18.586                  765.586

In [280]:
#nu nog de locaties van de harstilstanden. Eerst filteren op hartstilstand, dan de locaties eruit halen.
card_arrest = pd.concat([interventions_bxl_filtered,
                        interventions_bxl2_filtered,
                        interventions1_filtered,
                        interventions2_filtered,
                        interventions3_filtered,
                        cad9_filtered
                        ],
                        ignore_index = True)
card_arrest
#evnttype is de var waar het staat, nu nog de code vinden voor de hartstilstanden.
#eventtype trip is used, since it provides the latest information on the reason for the call

,eventType_trip,T0,T3,number_of_transported_persons,abandon_reason,latitude_intervention,longitude_intervention,parsed_T0,parsed_T3,time_difference_seconds
0,P033 - Trauma,2022-09-06 11:49:21.586859,None,NaN,Error,5085139.0,436918.0,2022-09-06 11:49:21.586859,NaT,NaN
1,P033 - Trauma,2022-09-06 11:49:21.586859,2022-09-06 10:07:00.784280,NaN,None,5085139.0,436918.0,2022-09-06 11:49:21.586859,2022-09-06 10:07:00.784280,-6140.802579
2,P059 - Dizziness - Nausea,2022-09-06 11:55:35.793679,None,NaN,Error,5083336.0,434504.0,2022-09-06 11:55:35.793679,NaT,NaN
3,P019 - Unconscious - syncope,2022-09-06 12:39:23.433732,None,NaN,Weigering van vervoer,5085076.0,436359.0,2022-09-06 12:39:23.433732,NaT,NaN
4,P033 - Trauma,2022-09-06 13:26:48.337914,None,NaN,Geannuleerd,508561.0,443169.0,2022-09-06 13:26:48.337914,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...
1045544,PERSONNES en danger / dans le besoin,None,2022-07-06 18:40:52.000,NaN,NaN,NaN,NaN,NaT,2022-07-06 18:40:52.000000,NaN
1045545,PERSONNES en danger / dans le besoin,None,2022-07-06 19:08:28.000,NaN,NaN,NaN,NaN,NaT,2022-07-06 19:08:28.000000,NaN
1045546,PERSONNES en danger / dans le besoin,None,2022-07-06 19:20:02.000,NaN,NaN,NaN,NaN,NaT,2022-07-06 19:20:02.000000,NaN
1045547,PERSONNES en danger / dans le besoin,None,2022-07-07 12:57:39.000,NaN,NaN,NaN,NaN,NaT,2022-07-07 12:57:39.000000,NaN
1045548,PERSONNES en danger / dans le besoin,None,2022-08-16 10:22:18.000,NaN,NaN,NaN,NaN,NaT,2022-08-16 10:22:18.000000,NaN

In [281]:
#By checking the "Belgian manual for medical regulation", we found that the following codes are relevant to our analysis:
#P039 - CARDIAAL PROBLEEM (NIET PIJN OP DE BORST)
#P011 - PIJN OP DE BORST
#P003 - HARTSTILSTAND - DOOD - OVERLEDEN
#P008 - PATIËNT MET DEFIBRILLATOR OF PACEMAKER
#mainly 003 is relevant, but the other codes mentioned can also play a role in deciding where to place an AED. It could be useful to verify with the
#stakeholder that the other cases besides P003 are also relevant, we will consider them to be so in this analysis.

In [282]:
#filteren op eventType_trip eerst, dan de not transported eruit filteren, dan de tijden berekenen

In [283]:
#inspecting the data first, get all unique values
card_arrest['eventType_trip'].unique()

array(['P033 - Trauma', 'P059 - Dizziness - Nausea',
       'P019 - Unconscious - syncope', 'P020 - Intoxication alcohol',
       'P002 - Agression - fight - rape', 'P074 - Palliative patient',
       'P015 - Epilepsy - convulsions', 'P021 - Intoxication drugs',
       'P097 - Collocation (planned)', 'P013 - Non-traumatic back pain',
       'P068 - Urogenital problem', 'P011 - Chest pain',
       'P012 - Non-traumatic abdominal pain', 'P026 - Unclear problem',
       'P001 - Traffic accident', 'P031 - Psychiatric problem',
       'P036 - Heat stroke - solar stroke', 'P075 - Cancer patient',
       'P010 - Respiratory problems', 'P009 - Diabetes',
       'P005 - Wounded by weapon', 'P069 - Wounds',
       'P032 - Allergic reactions', 'P004 - Stroke',
       'P018 - Long-term immobilisation - crushing of body and limbs',
       'P039 - Cardiac problem (other than thoracic pain)',
       'FI (1.3.0) fire building', 'P066 - Post-operative problem',
       'P061 - Limb hot or cold', 'HG (2.1.1) gas odour',
       'P003 - Cardiac arrest', 'P022 - Intoxication medication',
       'P034 - Skull trauma', 'P016 - Pregnancy - Birth',
       'P099 - Interhospital transport',
       'P008 - Patient with defibrillator - pacemaker',
       'P017 - Non-traumatic bleeding', 'P080 - COVID-19',
       'TI (3.3.3) rescue from danger to fall/jump - hard', None,
       'P038 - Person does not answer the call',
       'P086 - vluchelingen UKR',
       'P071 - Sick child < 15 years with abdominal pain',
       'P098 - Collocation (unplanned)',
       'P029 - Obstruction of the respiratory tract',
       'P070 - Sick baby < 3 months',
       'P014 - Electrocution - electrification', 'P000 - ARCA DEA',
       'P006 - Burns', 'TI (3.4.0) water rescue',
       'P007 - Fall from great height (>3 meters)',
       'P023 - Intoxication (household, agricultural, industrial)',
       'P025 - Non-traumatic headache',
       'P035 - Convulsions child <7 years old',
       'P072 - Sick child < 15 years with fever', 'HG (2.1.2) gas leak',
       'P027 - Animal bite', 'P067 - Social problem',
       'P064 - Nose-throat-ear and dental problem',
       'TI (3.4.1) dredging/hauling/floating',
       'TI (3.1.3) extrication trapped person', 'P063 - Eye problems',
       'P073 - Sick child < 15 years with respiratory infection',
       'OOS - Placing out of service', 'P060 - Skin problem',
       'FI B(1.3.3) fire building IFDP', 'P092 - MIP',
       'LO (5.5.16) reinforcement Casualty Extraction Team',
       'P030 - Hanging and strangulation',
       'TI B(3.1.11) extrication trapped person t m t underground',
       'TI (3.2.0) extrication from vehicle', 'P096 - Out of service',
       'P024 - CO intoxication', 'TI (3.3.2) CO intoxication',
       'P095 - Preventive ambulance', 'FI (1.11.0) fire train/tram/metro',
       'HG (2.3.0) explosion', 'FI (1.4.0) fire confined space',
       'HG (2.7.0) hazardous goods incident',
       'FI B(1.4.2) fire confined space tunnel',
       'TI (3.6.2) large animal in dange',
       'FI B(1.4.3) fire confined space t t m', 'P091 - MIP pre-alert',
       'TI (3.1.4) height/depth rescue',
       'FI B(1.4.1) fire confined space IFDP',
       'TI (3.3.4) rescue from danger to fall/jump - water',
       'P065 - Sudden deafness or ringing in the ears',
       'FI B(1.2.4) fire outdoor small night',
       'TI (3.5.1) risk of building collapse',
       'FI B(1.1.0) automatic fire alarm IFDP',
       'P076 - Communication with medical guard / doctor',
       'FI B(1.2.2) fire outdoor large',
       'TI B(3.1.10) extrication trapped person t m t above',
       'SI B(4.2.4) Aircraft in distress Full EM type 4',
       'P028 - Drowning - diving accident',
       'HG (2.6.0) environmental pollution',
       'TI (3.1.5) rescue under debris',
       'TI B(3.1.12) extrication trapped person truck/bus',
       'TI (3.6.3) animal in the water', 'HG (2.2.0) explosion risk',
       'FI B(1.4.4) fire confined space t t m confirmed',
       'TI B(3.2.1) extrication from vehicle truck bus',
       'FI (1.3.1) fire high voltage',
       'TI (3.3.1) rescue electrocution/electrification',
       'HG  B(2.3.1) explosion IFDP - terror',
       'SI (4.4.0) underground pipeline rupture',
       'SI (4.3.0) shipping accident',
       'SI B(4.2.3) Aircraft in distress Full EM type 3',
       'P033 N05 - TRAUMA', 'P032 N05 - ALLERGISCHE REACTIE',
       'P010 N01 - ADEMHALINGSMOEILIJKHEDEN',
       'P039 N05 - CARDIAAL PROBLEEM (ANDERE DAN PIJN AAN DE BORST)',
       'P010 N03 - ADEMHALINGSMOEILIJKHEDEN', 'P096 Buitendienststelling',
       'P020 N05 - INTOXICATIE ALCOHOL',
       'P068 N05 - UROGENITAAL PROBLEEM',
       'P022 N03 - INTOXICATIE MEDICATIE',
       'P015 N05 - EPILEPSIE - STUIPEN',
       'P019 N05 - Bewusteloos - coma - syncope',
       'P031 N05 - PSYCHIATRISCHE PROBLEMEN',
       'P016 N05 - ZWANGERSCHAP-BEVALLING',
       'P021 N05 - INTOXICATIE DRUGS',
       'P012  N05 - NIET-TRAUMATISCHE BUIKLAST',
       'P016 N03 - ZWANGERSCHAP-BEVALLING',
       'P010 N05 - ADEMHALINGSMOEILIJKHEDEN',
       'P002 N05 - AGRESSIE - VECHTPARTIJ - VERKRACHTING',
       'P013 N05 - NIET-TRAUMATISCHE RUGPIJN',
       'P022 N05 - INTOXICATIE MEDICATIE',
       'P059 N05 - Duizeligheid - onpasselijk',
       'P013 N03 - NIET-TRAUMATISCHE RUGPIJN',
       'P026 N01 - ONWEL ZONDER DUIDELIJKE REDEN',
       'P010 N04 - ADEMHALINGSMOEILIJKHEDEN',
       'P038 N05 - PATIËNT BEANTWOORDT DE OPROEP NIET',
       'P071 N05 - ZIEK KIND < 15 JAAR MET BUIKLAST',
       'P004 N03 - CVA-TIA', 'P005 N03 - WONDE DOOR WAPEN',
       'P069 N05 - WONDEN', 'P011 N05 - PIJN OP DE BORST',
       'P026 N05 - ONWEL ZONDER DUIDELIJKE REDEN',
       'P015 N03 - EPILEPSIE - STUIPEN', 'P063 N05 - OOGPROBLEMEN',
       'P066 N05 - POST-OP PROBLEEM', 'P001 N05 - VERKEERSONGEVAL',
       'P009 N05 - SUIKERZIEKTE - DIABETES', 'P033 N04 - TRAUMA',
       'P019 N01 - Bewusteloos - coma - syncope',
       'P019 N03 - Bewusteloos - coma - syncope',
       'P072 N05 - ZIEK KIND < 15 JAAR MET KOORTS', 'P004 N01 - CVA-TIA',
       'P000 N01 ARCA DEA', 'P011 N01 - PIJN OP DE BORST',
       'P027 N05 - Bijtwonden', 'P075 N05 - ONCOLOGISCHE PATIËNT',
       'P086 N05 - Vluchtelingen UKR', 'P034 N05 - SCHEDELTRAUMA',
       'P016 N01 - ZWANGERSCHAP-BEVALLING', 'P001 N01 - VERKEERSONGEVAL',
       'P080 N01 - VERMOEDEN COVID-19', 'P097 N05 - Collocatie (gepland)',
       'P026 N04 - ONWEL ZONDER DUIDELIJKE REDEN',
       'P099 N05 - Interhospitaaltransport', 'P006 N05 - BRANDWONDEN',
       'P080 N05 - VERMOEDEN COVID-19', 'P061 N05 - LIDMAAT KOUD OF WARM',
       'P017 N03 - NIET-TRAUMATISCH BLOEDVERLIES', 'P004 N05 - CVA-TIA',
       'P034 N01 - SCHEDELTRAUMA', 'P035 N05 - KOORTSSTUIPEN KIND <7JAAR',
       'P012  N03 - NIET-TRAUMATISCHE BUIKLAST',
       'P032 N03 - ALLERGISCHE REACTIE',
       'P064  N05 - NEUS-KEEL-OOR EN TANDPROBLEEM',
       'P074 N05 - PALLIATIEVE PATIËNT',
       'P018 N05 - LANGDURIGE IMMOBILISATIE - VERPLETTERING',
       'P073 N05 - ZIEK KIND < 15 JAAR MET LUCHTWEGINFECTIE',
       'P022 N01 - INTOXICATIE MEDICATIE',
       'P039 N03 - CARDIAAL PROBLEEM (ANDERE DAN PIJN AAN DE BORST)',
       'P011 N03 - PIJN OP DE BORST',
       'P039 N01 - CARDIAAL PROBLEEM (ANDERE DAN PIJN AAN DE BORST)',
       'P015 N01 - EPILEPSIE - STUIPEN', 'P005 N05 - WONDE DOOR WAPEN',
       'P067 N05 - SOCIAAL PROBLEEM', 'P066 N03 - POST-OP PROBLEEM',
       'P025 N03 - NIET-TRAUMATISCHE HOOFDPIJN',
       'P017 N05 - NIET-TRAUMATISCH BLOEDVERLIES',
       'P011 N04 - PIJN OP DE BORST',
       'P019 N04 - Bewusteloos - coma - syncope',
       'P023 N01 - INTOXICATIE (HUISHOUDELIJKE', 'P033 N03 - TRAUMA',
       'P022 N04 - INTOXICATIE MEDICATIE',
       'P002 N01 - AGRESSIE - VECHTPARTIJ - VERKRACHTING',
       'P009 N03 - SUIKERZIEKTE - DIABETES',
       'P059 N01 - Duizeligheid - onpasselijk',
       'P009 N01 - SUIKERZIEKTE - DIABETES',
       'P020 N03 - INTOXICATIE ALCOHOL', 'P021 N03 - INTOXICATIE DRUGS',
       'P003  N01 - HARTSTILSTAND - DOOD - OVERLEDEN',
       'P033 N01 - TRAUMA', 'P099 N01 - Interhospitaaltransport',
       'P017 N01 - NIET-TRAUMATISCH BLOEDVERLIES',
       'P025 N05 - NIET-TRAUMATISCHE HOOFDPIJN',
       'P070 N01 - ZIEKE BABY < 3 MAAND (ZUIGELING)',
       'P034 N03 - SCHEDELTRAUMA', 'P001 N03 - VERKEERSONGEVAL',
       'P030  N01 - VERHANGING EN WURGING',
       'P075 N01 - ONCOLOGISCHE PATIËNT',
       'P029 N05 - OBSTRUCTIE VAN DE LUCHTWEGEN',
       'P098 N05 - Collocatie (niet gepland)',
       'P035 N01 - KOORTSSTUIPEN KIND <7JAAR',
       'P039 N04 - CARDIAAL PROBLEEM (ANDERE DAN PIJN AAN DE BORST)',
       'P032 N01 - ALLERGISCHE REACTIE',
       'P007 N03 - VAL VAN GROTE HOOGTE (>3 METER)',
       'P006 N03 - BRANDWONDEN', 'P005 N01 - WONDE DOOR WAPEN',
       'P023 N05 - INTOXICATIE (HUISHOUDELIJKE',
       'P080 N02 - VERMOEDEN COVID-19', 'P021 N01 - INTOXICATIE DRUGS',
       'P018 N01 - LANGDURIGE IMMOBILISATIE - VERPLETTERING',
       'P068 N01 - UROGENITAAL PROBLEEM', 'P080 N04 - VERMOEDEN COVID-19',
       'P008 N03 - PATIËNT MET DEFIBRILLATOR OF PACEMAKER',
       'P068 N04 - UROGENITAAL PROBLEEM',
       'P020 N04 - INTOXICATIE ALCOHOL',
       'P029 N03 - OBSTRUCTIE VAN DE LUCHTWEGEN',
       'P023 N03 - INTOXICATIE (HUISHOUDELIJKE',
       'P029 N01 - OBSTRUCTIE VAN DE LUCHTWEGEN',
       'P075 N03 - ONCOLOGISCHE PATIËNT',
       'P061 N03 - LIDMAAT KOUD OF WARM',
       'P009 N04 - SUIKERZIEKTE - DIABETES',
       'P007 N01 - VAL VAN GROTE HOOGTE (>3 METER)',
       'P072 N03 - ZIEK KIND < 15 JAAR MET KOORTS',
       'P060 N05 - HUIDPROBLEMEN', 'P092 N01 - MIP',
       'P073 N01 - ZIEK KIND < 15 JAAR MET LUCHTWEGINFECTIE',
       'P031 N01 - PSYCHIATRISCHE PROBLEMEN',
       'P086 N01 - Vluchtelingen UKR', 'P034 N04 - SCHEDELTRAUMA',
       'P026 N02 - ONWEL ZONDER DUIDELIJKE REDEN',
       'P027 N03 - Bijtwonden', 'P006 N01 - BRANDWONDEN',
       'P066 N01 - POST-OP PROBLEEM', 'P015 N04 - EPILEPSIE - STUIPEN',
       'P032 N04 - ALLERGISCHE REACTIE', 'P066 N04 - POST-OP PROBLEEM',
       'P031 N04 - PSYCHIATRISCHE PROBLEMEN',
       'P020 N01 - INTOXICATIE ALCOHOL', 'P032 N02 - ALLERGISCHE REACTIE',
       'P016 N04 - ZWANGERSCHAP-BEVALLING', 'P069 N01 - WONDEN',
       'P007 N05 - VAL VAN GROTE HOOGTE (>3 METER)',
       'P036 N05 - HITTEBEROERTE - ZONNESLAG', 'P014 N05 - ELEKTROCUTIE',
       'P025 N01 - NIET-TRAUMATISCHE HOOFDPIJN',
       'P061 N01 - LIDMAAT KOUD OF WARM',
       'P070 N05 - ZIEKE BABY < 3 MAAND (ZUIGELING)',
       'P012  N01 - NIET-TRAUMATISCHE BUIKLAST',
       'P008 N01 - PATIËNT MET DEFIBRILLATOR OF PACEMAKER',
       'P095 N05 - PREVENTIEVE ZIEKENWAGEN', 'P027 N04 - Bijtwonden',
       'P001 N04 - VERKEERSONGEVAL',
       'P013 N04 - NIET-TRAUMATISCHE RUGPIJN',
       'P012  N04 - NIET-TRAUMATISCHE BUIKLAST',
       'P071 N03 - ZIEK KIND < 15 JAAR MET BUIKLAST',
       'P035 N03 - KOORTSSTUIPEN KIND <7JAAR', 'P034 N02 - SCHEDELTRAUMA',
       'P002 N03 - AGRESSIE - VECHTPARTIJ - VERKRACHTING',
       'P099 N03 - Interhospitaaltransport',
       'P080 N07 - VERMOEDEN COVID-19',
       'P072 N02 - ZIEK KIND < 15 JAAR MET KOORTS',
       'P071 N01 - ZIEK KIND < 15 JAAR MET BUIKLAST',
       'P080 N03 - VERMOEDEN COVID-19',
       'P038 N01 - PATIËNT BEANTWOORDT DE OPROEP NIET',
       'P026 N06 - ONWEL ZONDER DUIDELIJKE REDEN',
       'P036 N03 - HITTEBEROERTE - ZONNESLAG',
       'P018 N03 - LANGDURIGE IMMOBILISATIE - VERPLETTERING',
       'P021 N04 - INTOXICATIE DRUGS', 'P011 N02 - PIJN OP DE BORST',
       'P017 N04 - NIET-TRAUMATISCH BLOEDVERLIES',
       'P003  N05 - HARTSTILSTAND - DOOD - OVERLEDEN',
       'P027 N01 - Bijtwonden',
       'P002 N04 - AGRESSIE - VECHTPARTIJ - VERKRACHTING',
       'P009 N02 - SUIKERZIEKTE - DIABETES', 'P063 N04 - OOGPROBLEMEN',
       'P036 N01 - HITTEBEROERTE - ZONNESLAG',
       'P031 N02 - PSYCHIATRISCHE PROBLEMEN',
       'P038 N03 - PATIËNT BEANTWOORDT DE OPROEP NIET',
       'P070 N04 - ZIEKE BABY < 3 MAAND (ZUIGELING)',
       'P012  N02 - NIET-TRAUMATISCHE BUIKLAST',
       'P076 N08 - Communicatie met wachtarts/Post',
       'P019 N06 - Bewusteloos - coma - syncope', 'P033 N06 - TRAUMA',
       'P086 N03 - Vluchtelingen UKR', 'P075 N04 - ONCOLOGISCHE PATIËNT',
       'P059 N06 - Duizeligheid - onpasselijk',
       'P012  N06 - NIET-TRAUMATISCHE BUIKLAST',
       'P018 N04 - LANGDURIGE IMMOBILISATIE - VERPLETTERING',
       'P036 N04 - HITTEBEROERTE - ZONNESLAG',
       'P061 N04 - LIDMAAT KOUD OF WARM', 'Medisch Interventieplan',
       'P036 N02 - HITTEBEROERTE - ZONNESLAG',
       'P030  N05 - VERHANGING EN WURGING',
       'P010 N02 - ADEMHALINGSMOEILIJKHEDEN',
       'P015 N02 - EPILEPSIE - STUIPEN', 'P033 N02 - TRAUMA',
       'P071 N04 - ZIEK KIND < 15 JAAR MET BUIKLAST',
       'P013 N06 - NIET-TRAUMATISCHE RUGPIJN',
       'P001 N02 - VERKEERSONGEVAL',
       'P023 N02 - INTOXICATIE (HUISHOUDELIJKE',
       'P035 N04 - KOORTSSTUIPEN KIND <7JAAR',
       'P024 N05 - CO-intoxicatie', 'P004 N02 - CVA-TIA',
       'P007 - Fall from great height (> 3 meters)',
       'P035 - Convulsions child < 7 years old', 'P090 - Test MED',
       'P077 - Requisition police alcohol drugs',
       'LO (5.1.1) assistance ambulance manpower',
       'LO (5.5.17) reinforcement safety precautions',
       'FI (1.7.0) fire industry', 'FI (1.5.0) fire odour/check',
       'P034 - SCHEDELTRAUMA', 'P010 - ADEMHALINGSMOEILIJKHEDEN',
       'Y_TI BEVRIJDING PERSOON BEKLEMD/OPGESLOTEN+DGH',
       'P020 - INTOXICATIE ALCOHOL',
       'P075 - ONCOLOGISCHE PATIËNT IN BEHANDELING',
       'P039 - CARDIAAL PROBLEEM (NIET PIJN OP DE BORST)',
       'P011 - PIJN OP DE BORST', 'P016 - ZWANGERSCHAP-BEVALLING',
       'P068 - UROGENITAAL PROBLEEM',
       'P026 - ONWEL/ZIEK ZONDER DUIDELIJKE FOCUS', 'P033 - TRAUMA',
       'P031 - PSYCHIATRISCH PROBLEEM', 'P009 - SUIKERZIEKTE - DIABETES',
       'P013 - NIET-TRAUMATISCHE RUGPIJN', 'P001 - VERKEERSONGEVAL',
       'P015 - EPILEPSIE - STUIPEN', 'P059 - DUIZELIGHEID - ONPASSELIJK',
       'P019 - BEWUSTELOOS - COMA - SYNCOPE',
       'P012 - NIET-TRAUMATISCHE BUIKLAST',
       'P099 - INTERHOSPITAALTRANSPORT', 'P004 - CVA-TIA',
       'P007 - VAL VAN GROTE HOOGTE (>3 METER)',
       'P032 - ALLERGISCHE REACTIE',
       'P061 - LIDMAAT/BEWEGINGSSTELSEL NIET TRAUMA',
       'P005 - WONDE DOOR WAPEN', 'P066 - POSTOP PROBLEEM',
       'P022 - INTOXICATIE MEDICATIE', 'P067 - SOCIAAL PROBLEEM',
       'P017 - NIET-TRAUMATISCH BLOEDVERLIES',
       'P035 - KOORTSSTUIPEN KIND <7JAAR',
       'P018 - LANGDURIGE IMMOBILISATIE - VERPLETTERING',
       'Y_TI BEVRIJDING PERSOON BEKLEMD IN VOERTUIG+DGH',
       'P006 - BRANDWONDE', 'P069 - WONDEN', 'P090 - TEST MED',
       'P002 - AGRESSIE - VECHTPARTIJ - VERKRACHTING',
       'P098 - COLLOCATIE (NIET GEPLAND)',
       'P003 - HARTSTILSTAND - DOOD - OVERLEDEN',
       'P064 - NEUS-KEEL-OOR EN TANDPROBLEEM',
       'P074 - PALLIATIEVE PATIËNT', 'P027 - BIJTWONDE',
       'P025 - NIET-TRAUMATISCHE HOOFDPIJN', 'P021 - INTOXICATIE DRUGS',
       'P030 - VERHANGING EN WURGING',
       'Y_TI PERSOON IN BIJZONDER GEVAAR+DGH',
       'P029 - OBSTRUCTIE VAN DE LUCHTWEGEN',
       'Y_SI TREIN/TRAM ONGEVAL+DGH',
       'P023 - INTOXICATIE HUISHOUDELIJKE, LANDBOUW OF INDUSTRIËLE PRODUCTEN',
       'P063 - OOGPROBLEMEN', 'Y_SI GEVONDEN MUNITIE+DGH',
       'P071 - ZIEK KIND < 15 JAAR MET BUIKLAST',
       'P097 - COLLOCATIE (GEPLAND)',
       'P008 - PATIËNT MET DEFIBRILLATOR OF PACEMAKER',
       'P038 - PATIËNT BEANTWOORDT DE OPROEP NIET', 'P060 - HUIDPROBLEEM',
       'Y_GS INCIDENT GEVAARLIJKE STOFFEN+DGH', 'Y_BR BRAND GEBOUW+DGH',
       'Y_TEST+DGH', 'P072 - ZIEK KIND < 15 JAAR MET KOORTS',
       'P091 - VOORALARM MIP',
       'P073 - ZIEK KIND < 15 JAAR MET LUCHTWEGINFECTIE',
       'Y_TI DUIKERS+DGH', 'P014 - ELEKTROCUTIE',
       'P036 - HITTEBEROERTE - ZONNESLAG', 'P024 - CO-INTOXICATIE',
       'P070 - ZIEKE BABY < 3 MAAND (ZUIGELING)',
       'Y_BR BRAND INDUSTRIE+DGH', 'Y_SI LUHA URGENTIE+DGH',
       'Y_BR BRAND VOERTUIG+DGH', 'Y_BR BRAND GEUR/CONTROLE +DGH', '112',
       'Z_SI TREIN/TRAM ONGEVAL', 'Y_TI INSTORTINGSGEVAAR+DGH',
       'Y_GS EXPLOSIE+DGH', 'ZZ_POLITIE INTERVENTIE',
       'Y_BR AUTOMATISCH BRANDALARM+DGH', 'Y_BR BRAND BUITEN+DGH',
       'Y_GS CO-METING+DGH', 'Z_LO BIJSTAND ZIEKENWAGEN',
       'Y_GS GASGEUR/GASLEK+DGH', 'P096 - BUITENDIENSTSTELLING',
       'Y_LO BIJSTAND ZIEKENWAGEN+DGH', 'Z_LO TENT', 'Y_TI ALGEMEEN+DGH',
       'Y_GS GEURHINDER+DGH', 'Y_SI LUHA CRASH OPCO+DGH',
       'ALGEMENE INFORMATIE', 'P028 - VERDRINKING - DUIKONGEVAL',
       'Z_TI BEVRIJDING PERSOON BEKLEMD IN VOERTUIG',
       'Y_BR BRAND GEBOUW SCHOUW+DGH', 'PERSONEN Noodsituatie',
       'Y_KENNISGEVING+DGH', 'P065 - PLOTSE DOOFHEID OF OORSUIZEN',
       'Z_TI BEVRIJDING PERSOON BEKLEMD/OPGESLOTEN',
       'P026 - ONWEL ZONDER DUIDELIJKE REDEN',
       'P061 - LIDMAAT KOUD OF WARM', 'Z_TI ALGEMEEN',
       'Y_SI REDDING BELGISCHE KUST+DGH',
       'Z_TI PERSOON IN BIJZONDER GEVAAR', 'TEST',
       'P095 - PREVENTIEVE ZIEKENWAGEN', 'Y_SI VLIEGTUIG NEERGESTORT+DGH',
       'Y_LO BIJSTAND ZIEKENWAGEN +DGH', 'Y_BR BRAND TREIN/TRAM+DGH',
       'Y_GS ALGEMEEN+DGH', 'Y_BR BRAND ALGEMEEN+DGH',
       'Z_TI INSTORTINGSGEVAAR', 'Z_BR BRAND VOERTUIG',
       'Z_TI REINIGEN WEGDEK', 'Z_LO VERSTERKING',
       'Y_BR BRAND BESLOTEN PLAATS+DGH', 'Z_TEST',
       'Y_BR BRAND VAARTUIG +DGH', 'Y_TI PERSOON BEKLEMD/OPGESLOTEN+DGH',
       'Y_TI PERSOON BEKLEMD IN VOERTUIG+DGH',
       'Y_LO BIJSTAND ZIEKENWAGEN + DGH',
       'Y_TI REDDING TE WATER/DUIKERS+DGH', 'VERKEERDE MANIPULATIE',
       'KWAADWILLIGE OPROEP', 'Z_TI PERSOON BEKLEMD/OPGESLOTEN',
       'Y_SI LUCHTVAARTONGEVAL + DGH', 'Y_SI VERMOEDEN TERRORISME + DGH',
       'Z_SI VERMOEDEN TERRORISME',
       'P026 - ONWEL ZONDER DUIDELIJKE FOCUS',
       'P061 - LIDMAAT - BEWEGINGSSTELSEL (NIET-TRAUMA)',
       'Y_GS EXPLOSIE RISICO+DGH', 'Y_SI SCHEEPVAARTONGEVAL+DGH',
       'PERSONNES en danger / dans le besoin'], dtype=object)

In [284]:
substrings = ['p003', 'p008', 'p011', 'p039']
pattern = '|'.join(substrings) #regex pattern

#filter, case insensitive
card_arrest_filtered = card_arrest[card_arrest['eventType_trip'].str.contains(pattern, case=False, na=False)]

In [285]:
card_arrest_filtered

,eventType_trip,T0,T3,number_of_transported_persons,abandon_reason,latitude_intervention,longitude_intervention,parsed_T0,parsed_T3,time_difference_seconds
27,P011 - Chest pain,2022-09-06 14:51:41.968677,None,NaN,Error,5087798.0,439229.0,2022-09-06 14:51:41.968677,NaT,NaN
28,P011 - Chest pain,2022-09-06 14:51:41.968677,2022-09-06 13:00:11.171741,NaN,None,5087798.0,439229.0,2022-09-06 14:51:41.968677,2022-09-06 13:00:11.171741,-6690.796936
29,P011 - Chest pain,2022-09-06 14:51:41.968677,2022-09-07 12:57:00.843000,1.0,None,5087798.0,439229.0,2022-09-06 14:51:41.968677,2022-09-07 12:57:00.843000,79518.874323
44,P011 - Chest pain,2022-09-06 15:08:52.857352,2022-09-06 14:05:04.521346,1.0,None,5089578.0,435817.0,2022-09-06 15:08:52.857352,2022-09-06 14:05:04.521346,-3828.336006
94,P011 - Chest pain,2022-09-06 16:36:15.795918,2022-09-06 14:50:46.344005,NaN,None,5085592.0,442592.0,2022-09-06 16:36:15.795918,2022-09-06 14:50:46.344005,-6329.451913
...,...,...,...,...,...,...,...,...,...,...
1045503,P003 - HARTSTILSTAND - DOOD - OVERLEDEN,2023-05-31 20:45:48.000,2023-05-31 20:57:17.000,NaN,NaN,NaN,NaN,2023-05-31 20:45:48.000000,2023-05-31 20:57:17.000000,689.000000
1045504,P003 - HARTSTILSTAND - DOOD - OVERLEDEN,2023-05-31 20:45:48.000,2023-05-31 20:57:17.000,NaN,NaN,NaN,NaN,2023-05-31 20:45:48.000000,2023-05-31 20:57:17.000000,689.000000
1045516,P039 - CARDIAAL PROBLEEM (NIET PIJN OP DE BORST),2023-05-31 21:38:03.000,2023-05-31 21:54:16.000,NaN,NaN,NaN,NaN,2023-05-31 21:38:03.000000,2023-05-31 21:54:16.000000,973.000000
1045540,P039 - CARDIAAL PROBLEEM (NIET PIJN OP DE BORST),2023-05-31 23:32:03.000,2023-05-31 23:52:06.000,NaN,NaN,NaN,NaN,2023-05-31 23:32:03.000000,2023-05-31 23:52:06.000000,1203.000000
1045541,P039 - CARDIAAL PROBLEEM (NIET PIJN OP DE BORST),2023-05-31 23:32:03.000,2023-05-31 23:52:06.000,NaN,NaN,NaN,NaN,2023-05-31 23:32:03.000000,2023-05-31 23:52:06.000000,1203.000000

In [286]:
#it is uncertain how "Error" should be interpreted for the abandon_reason variable. It could be that it indicates a technical
#error on the level of the informatics behind the system, or it could mean that the call itself was an error, and therefore no one was transported.
#The "Number_of_transported_persons variable" seems inconsistent, there is no reason given for the refusal of transport yet there is also no value for
#it, so it is not clear whether or not someone was actually transported or not. Therefore we will not use the variable for further filtering.

abandon_reasons = card_arrest_filtered['abandon_reason'].unique()
abandon_reasons
#some of the reasons mean we should not take the data up in further analysis. Such reasons are for example that the call was a false alarm, or that the
#patient refuses to be transported
filter_reasons = ['Weigering van vervoer','Weigering vervoer', 'Geannuleerd', 'Geannuleerde rit', 'Kwaadwillig', 'Loos alarm goed bedoeld']
#we remove the instances where the patient was not transported because the call itself was bad
card_arrest_filtered_abandon = card_arrest_filtered[~card_arrest_filtered['abandon_reason'].isin(filter_reasons)]
len(card_arrest_filtered_abandon)

card_arrest_filtered_abandon = card_arrest_filtered_abandon.drop(columns = ['number_of_transported_persons', 'abandon_reason'])

In [287]:
card_arrest_filtered_abandon

,eventType_trip,T0,T3,latitude_intervention,longitude_intervention,parsed_T0,parsed_T3,time_difference_seconds
27,P011 - Chest pain,2022-09-06 14:51:41.968677,None,5087798.0,439229.0,2022-09-06 14:51:41.968677,NaT,NaN
28,P011 - Chest pain,2022-09-06 14:51:41.968677,2022-09-06 13:00:11.171741,5087798.0,439229.0,2022-09-06 14:51:41.968677,2022-09-06 13:00:11.171741,-6690.796936
29,P011 - Chest pain,2022-09-06 14:51:41.968677,2022-09-07 12:57:00.843000,5087798.0,439229.0,2022-09-06 14:51:41.968677,2022-09-07 12:57:00.843000,79518.874323
44,P011 - Chest pain,2022-09-06 15:08:52.857352,2022-09-06 14:05:04.521346,5089578.0,435817.0,2022-09-06 15:08:52.857352,2022-09-06 14:05:04.521346,-3828.336006
94,P011 - Chest pain,2022-09-06 16:36:15.795918,2022-09-06 14:50:46.344005,5085592.0,442592.0,2022-09-06 16:36:15.795918,2022-09-06 14:50:46.344005,-6329.451913
...,...,...,...,...,...,...,...,...
1045503,P003 - HARTSTILSTAND - DOOD - OVERLEDEN,2023-05-31 20:45:48.000,2023-05-31 20:57:17.000,NaN,NaN,2023-05-31 20:45:48.000000,2023-05-31 20:57:17.000000,689.000000
1045504,P003 - HARTSTILSTAND - DOOD - OVERLEDEN,2023-05-31 20:45:48.000,2023-05-31 20:57:17.000,NaN,NaN,2023-05-31 20:45:48.000000,2023-05-31 20:57:17.000000,689.000000
1045516,P039 - CARDIAAL PROBLEEM (NIET PIJN OP DE BORST),2023-05-31 21:38:03.000,2023-05-31 21:54:16.000,NaN,NaN,2023-05-31 21:38:03.000000,2023-05-31 21:54:16.000000,973.000000
1045540,P039 - CARDIAAL PROBLEEM (NIET PIJN OP DE BORST),2023-05-31 23:32:03.000,2023-05-31 23:52:06.000,NaN,NaN,2023-05-31 23:32:03.000000,2023-05-31 23:52:06.000000,1203.000000
1045541,P039 - CARDIAAL PROBLEEM (NIET PIJN OP DE BORST),2023-05-31 23:32:03.000,2023-05-31 23:52:06.000,NaN,NaN,2023-05-31 23:32:03.000000,2023-05-31 23:52:06.000000,1203.000000

In [288]:
#remove interventions with missing or incomplete coordinates. We should again ask what happened to those. We cannot use these.
#a very large amount of instances get dropped because of missing coordinates, yet again demonstrating how messy the data is.
card_arrest_dropna = card_arrest_filtered_abandon.dropna(subset = ['latitude_intervention', 'longitude_intervention'])
card_arrest_dropna

,eventType_trip,T0,T3,latitude_intervention,longitude_intervention,parsed_T0,parsed_T3,time_difference_seconds
27,P011 - Chest pain,2022-09-06 14:51:41.968677,None,5087798.000,439229.000,2022-09-06 14:51:41.968677,NaT,NaN
28,P011 - Chest pain,2022-09-06 14:51:41.968677,2022-09-06 13:00:11.171741,5087798.000,439229.000,2022-09-06 14:51:41.968677,2022-09-06 13:00:11.171741,-6690.796936
29,P011 - Chest pain,2022-09-06 14:51:41.968677,2022-09-07 12:57:00.843000,5087798.000,439229.000,2022-09-06 14:51:41.968677,2022-09-07 12:57:00.843000,79518.874323
44,P011 - Chest pain,2022-09-06 15:08:52.857352,2022-09-06 14:05:04.521346,5089578.000,435817.000,2022-09-06 15:08:52.857352,2022-09-06 14:05:04.521346,-3828.336006
94,P011 - Chest pain,2022-09-06 16:36:15.795918,2022-09-06 14:50:46.344005,5085592.000,442592.000,2022-09-06 16:36:15.795918,2022-09-06 14:50:46.344005,-6329.451913
...,...,...,...,...,...,...,...,...
755037,P011 - Chest pain,25MAY23:14:47:30,None,504.588,488.888,2023-05-25 14:47:30.000000,NaT,NaN
755066,P003 - Cardiac arrest,25MAY23:18:04:00,None,499.765,417.427,2023-05-25 18:04:00.000000,NaT,NaN
755067,P003 - Cardiac arrest,25MAY23:18:04:00,None,499.765,417.427,2023-05-25 18:04:00.000000,NaT,NaN
755195,P039 - Cardiac problem (other than thoracic pain),26MAY23:14:58:02,None,504.617,462.281,2023-05-26 14:58:02.000000,NaT,NaN
755247,P039 - Cardiac problem (other than thoracic pain),26MAY23:18:26:23,None,507.409,318.905,2023-05-26 18:26:23.000000,NaT,NaN

In [289]:
#remove duplicates
card_arrest_dupe = card_arrest_dropna.drop_duplicates()
card_arrest_dupe

,eventType_trip,T0,T3,latitude_intervention,longitude_intervention,parsed_T0,parsed_T3,time_difference_seconds
27,P011 - Chest pain,2022-09-06 14:51:41.968677,None,5087798.000,439229.000,2022-09-06 14:51:41.968677,NaT,NaN
28,P011 - Chest pain,2022-09-06 14:51:41.968677,2022-09-06 13:00:11.171741,5087798.000,439229.000,2022-09-06 14:51:41.968677,2022-09-06 13:00:11.171741,-6690.796936
29,P011 - Chest pain,2022-09-06 14:51:41.968677,2022-09-07 12:57:00.843000,5087798.000,439229.000,2022-09-06 14:51:41.968677,2022-09-07 12:57:00.843000,79518.874323
44,P011 - Chest pain,2022-09-06 15:08:52.857352,2022-09-06 14:05:04.521346,5089578.000,435817.000,2022-09-06 15:08:52.857352,2022-09-06 14:05:04.521346,-3828.336006
94,P011 - Chest pain,2022-09-06 16:36:15.795918,2022-09-06 14:50:46.344005,5085592.000,442592.000,2022-09-06 16:36:15.795918,2022-09-06 14:50:46.344005,-6329.451913
...,...,...,...,...,...,...,...,...
754940,P011 - Chest pain,24MAY23:23:49:21,None,504.736,484.864,2023-05-24 23:49:21.000000,NaT,NaN
755037,P011 - Chest pain,25MAY23:14:47:30,None,504.588,488.888,2023-05-25 14:47:30.000000,NaT,NaN
755066,P003 - Cardiac arrest,25MAY23:18:04:00,None,499.765,417.427,2023-05-25 18:04:00.000000,NaT,NaN
755195,P039 - Cardiac problem (other than thoracic pain),26MAY23:14:58:02,None,504.617,462.281,2023-05-26 14:58:02.000000,NaT,NaN
755247,P039 - Cardiac problem (other than thoracic pain),26MAY23:18:26:23,None,507.409,318.905,2023-05-26 18:26:23.000000,NaT,NaN

In [290]:
#there are still duplicates present in the dataset. We will remove duplicates by their coordinates and their time,
#since it is extremely unlikely that two interventions take place at the exact same coordinates, at the exact same time
card_arrest_unique = card_arrest_dupe.drop_duplicates(subset = ['latitude_intervention', 'longitude_intervention', 'T0'])
card_arrest_unique

,eventType_trip,T0,T3,latitude_intervention,longitude_intervention,parsed_T0,parsed_T3,time_difference_seconds
27,P011 - Chest pain,2022-09-06 14:51:41.968677,None,5087798.000,439229.000,2022-09-06 14:51:41.968677,NaT,NaN
44,P011 - Chest pain,2022-09-06 15:08:52.857352,2022-09-06 14:05:04.521346,5089578.000,435817.000,2022-09-06 15:08:52.857352,2022-09-06 14:05:04.521346,-3828.336006
94,P011 - Chest pain,2022-09-06 16:36:15.795918,2022-09-06 14:50:46.344005,5085592.000,442592.000,2022-09-06 16:36:15.795918,2022-09-06 14:50:46.344005,-6329.451913
110,P011 - Chest pain,2022-09-06 17:14:30.554547,2022-09-06 15:28:15.574171,5080938.000,434743.000,2022-09-06 17:14:30.554547,2022-09-06 15:28:15.574171,-6374.980376
136,P039 - Cardiac problem (other than thoracic pain),2022-09-06 18:21:26.211055,None,5086944.000,43608.000,2022-09-06 18:21:26.211055,NaT,NaN
...,...,...,...,...,...,...,...,...
754940,P011 - Chest pain,24MAY23:23:49:21,None,504.736,484.864,2023-05-24 23:49:21.000000,NaT,NaN
755037,P011 - Chest pain,25MAY23:14:47:30,None,504.588,488.888,2023-05-25 14:47:30.000000,NaT,NaN
755066,P003 - Cardiac arrest,25MAY23:18:04:00,None,499.765,417.427,2023-05-25 18:04:00.000000,NaT,NaN
755195,P039 - Cardiac problem (other than thoracic pain),26MAY23:14:58:02,None,504.617,462.281,2023-05-26 14:58:02.000000,NaT,NaN
755247,P039 - Cardiac problem (other than thoracic pain),26MAY23:18:26:23,None,507.409,318.905,2023-05-26 18:26:23.000000,NaT,NaN

In [292]:
testoo = card_arrest_unique

In [ ]:
#coordinaten nog fixen, met die functie eerder gemaakt

In [293]:
def parse_time(time_series):
    # Try parsing different formats
    formats = ['%Y-%m-%d %H:%M:%S', '%d/%m/%Y %H:%M:%S']
    for fmt in formats:
        try:
            return pd.to_datetime(time_series, format=fmt)
        except ValueError:
            continue
    raise ValueError('No valid date format found')

# Apply the function to both time columns
testoo['T0'] = parse_time(testoo['T0'])
testoo['T3'] = parse_time(testoo['T3'])

ValueError: No valid date format found

In [ ]:
#de finale tabellen opslaan in aparte file.